<div class="inmodal in modal-content common-create-popup">
    <form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>
        <div class="modal-header">
            <svg class="common-edit-icon">
              <use xlink:href="#edit-dashboard" />
            </svg>
            <div class="header-text" data-translate="flairbiApp.realm.home.createLabel">Create or edit a User</div>
            <svg class=" common-cancle-icon" data-dismiss="modal" ng-click="vm.clear()">
              <use xlink:href="#cancle" />
            </svg>
        </div>
        <div class="modal-body">
            <jhi-alert-error></jhi-alert-error>
            <div class="form-group" ng-show="vm.realm.id">
                <label for="id" data-translate="global.field.id">ID</label>
                <input type="text" class="form-control" id="id" name="id" ng-model="vm.realm.id" readonly />
            </div>
            <div class="form-group">
                <label for="name" data-translate="flairbiApp.realm.name" for="field_name">Name</label>
                <input type="text" class="form-control" name="firstName" ng-model="vm.realm.Name" ng-maxlength="50">
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
                <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
            </button>
            <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
                <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
            </button>
        </div>
    </form>
</div>
