<div class="table-responsive tile-area-table dataSourceTable">
    <div class="search-box inner-addon left-addon b-b-xs">
        <i class="glyphicon glyphicon-search"></i>
        <input type="text" ng-model="vm.search.name" class="form-control" placeholder="Search DataSource..." />
        <button type="submit" ui-sref="connection.new" class="btn btn-default btn-sm new-datasource" ng-if="vm.isAdmin">
            <span uib-tooltip="New DataSource" tooltip-placement="left" class="fa fa-edit edit-icon fa-2x"></span>
        </button>
    </div>
    <br />
    <table class="table table-striped flair-table-v1">
        <thead>
            <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                <th jh-sort-by="id">
                    <span>ID</span>
                    <span class="fa fa-sort"></span>
                </th>
                <th jh-sort-by="name">
                    <span>Datasource Name</span>
                    <span class="fa fa-sort"></span>
                </th>
                <th jh-sort-by="connectionName">
                    <span>Connection Name</span>
                    <span class="fa fa-sort"></span>
                </th>
                <th>
                    <span>Actions</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="datasource in vm.datasources | filter:vm.search track by $index">
                <td>
                    <a ui-sref="service-detail({id:service.id})">{{datasource.id}}</a>
                </td>
                <td>{{datasource.name}}</td>
                <td>
                    <a ui-sref="connection-detail({connectionLinkId: datasource.connectionName})">
                        <span ng-if="datasource.connectionReadableName">{{datasource.connectionReadableName}}</span>
                        <span ng-if="!datasource.connectionReadableName">{{datasource.connectionName}}</span>
                    </a>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit" ui-sref="connection-detail({connectionLinkId: datasource.connectionName})"
                            class="btn btn-default btn-sm">
                            <span class="fa fa-eye view-icon fa-2x"></span>
                        </button>
                        &nbsp;
                        <button type="submit" ui-sref="connection.edit({connectionId:datasource.connectionId})"
                            class="btn btn-default btn-sm">
                            <span class="fa fa-edit edit-icon fa-2x"></span>
                        </button>
                        &nbsp;
                        <button type="submit"
                            ui-sref="conn-datasource-delete({connectionLinkId:datasource.connectionName,datasourceId:datasource.id})"
                            class="btn btn-default btn-sm">
                            <span class="fa fa-trash delete-icon fa-2x"></span>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="text-center" ng-show="vm.datasources.length > 0">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page"
            ng-change="vm.transition()"></uib-pagination>
    </div>
</div>