<div class="row ng-scope">
    <nav class="navbar navbar-static-top" role="navigation">
        <div class="navbar-header">
            <div class="row home-row">
                <div class="logo" ui-sref="home">
                    <img src="{{vm.logo}}" alt="flair bi">
                </div>
                <div class="col-md-3 home-header-search-box" style="left: 62px;display:none;">
                    <form role="form" ng-submit="vm.search()">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button type="submit" class="btn">
                                    <svg class="topnav-flaticon-search">
                                        <use xlink:href="#search"></use>
                                    </svg>
                                </button>
                            </span>
                            <input required ng-model="vm.searchCriteria" type="search" class="form-control search-site"
                                   placeholder="Search views and dashboards">
                            <span class="input-group-btn">
                                <button ng-click="vm.reset()" type="reset" class="btn" ng-show="vm.showSearchCancel()">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </button>
                            </span>
                        </div>
                    </form>
                </div>
                <div class="search-right-icon hidden-xs" ng-click="vm.floatSearch()">
                    <svg class="topnav-flaticon-search">
                        <use xlink:href="#search"></use>
                    </svg>
                </div>
            </div>
        </div>
        <menu-component></menu-component>
    </nav>
</div>
