<div class="inmodal in modal-content common-create-popup">
    <form name="editForm" role="form" novalidate ng-submit="vm.save()" class="form-horizontal">
        <div class="modal-header">
            <svg class="common-edit-icon">
              <use xlink:href="#edit-dashboard" />
            </svg>
            <div class="header-text">Create User Group</div>
            <svg class=" common-cancle-icon" data-dismiss="modal" ng-click="vm.clear()">
              <use xlink:href="#cancle" />
            </svg>
        </div>
        <div class="modal-body">
            <jhi-alert-error></jhi-alert-error>
            <div class="form-group">
                <label class="control-label col-md-3" for="field_name">Name</label>
                <div class="col-md-7">
                    <input required type="text" class="form-control" name="name" id="field_name" ng-model="vm.userGroup.name" />
                    <div ng-show="editForm.name.$invalid">
                        <p class="help-block" ng-show="editForm.name.$error.required" data-translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
                <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel
                </span>
            </button>
            <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
                <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save
                </span>
            </button>
        </div>
    </form>
</div>

