grpc:
    server:
        notifications-service-name: flair-notifications
        engine-service-name: flair-engine-grpc
    tls:
        enabled: ${GRPC_SSL_ENABLED:false}
        clientCertChainFile: ${GRPC_CERT:/app/clientCertChainFile.crt}
        clientPrivateKeyFile: ${GRPC_KEY:/app/clientPrivateKeyFile.pem}
        trustCertCollectionFile: ${GRPC_TRUST_CERT:/app/trustCertCollectionFile.crt}
        notificationsClientCertChainFile: ${GRPC_NOTIF_CERT:/app/notificationsClientCertChainFile.crt}
        notificationsClientPrivateKeyFile: ${GRPC_NOTIF_KEY:/app/notificationsClientPrivateKeyFile.pem}
        notificationsTrustCertCollectionFile: ${GRPC_NOTIF_TRUST_CERT:/app/notificationsTrustCertCollectionFile.crt}

OAUTH_CLIENT_ID: ""
OAUTH_CLIENT_SECRET: ""
OAUTH_ACCESS_TOKEN_URI: ""
OAUTH_USER_AUTHORIZATION_URI: ""
OAUTH_USER_INFO_URI: ""

spring:
    cloud.loadbalancer.ribbon.enabled: false
    servlet:
        multipart:
            max-file-size: 10MB
    jpa:
        properties:
            hibernate:
                enable_lazy_load_no_trans: true
    sendgrid:
        api-key: ${SENDGRID_API_KEY:api-key}

app:
    hostname: "http://localhost:9000"
    sendgrid:
        sender:
            email: "support@vizcentric.com"
            name: "Viz Centric Mail Bot"
    firebase:
        enabled: ${FIREBASE_ENABLED:false}
        google-app-cred-file: ${GOOGLE_APPLICATION_CREDENTIALS:/key/file.json}
    auth:
        jwt-key: ${GRPC_JWT_KEY:secretKey1secretKey1secretKey1secretKey1secretKey1secretKey1secretKey1}
    jobs:
        refresh-feature-cache-job-weekdays:
            cron: ${REFRESH_CACHE_JOB_WEEKDAYS:0 0/15 9-18 * * 1-5}
        refresh-feature-cache-job-weekends:
            cron: ${REFRESH_CACHE_JOB_WEEKENDS:0 0/30 * * * 6,0}

server:
    max-http-header-size: 48000

jhipster:
    security:
        authentication:
            jwt:
                token-validity-in-seconds: 86400
                token-validity-in-seconds-for-remember-me: 2592000