<div class="inmodal in modal-content common-create-popup">
    <form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

        <div class="modal-header">
            <svg class="common-edit-icon">
              <use xlink:href="#edit-dashboard" />
            </svg>
            <div id="FSSettingLabel" class="header-text">
                Settings
            </div>
            <svg class="common-cancle-icon" data-dismiss="modal" ng-click="vm.clear()">
              <use xlink:href="#cancle" />
            </svg>
        </div>
        <div class="modal-body">
            <jhi-alert-error></jhi-alert-error>
            <div class="row">
                <div>
                    <div md-color-picker ng-model="vm.settings.headerColor" label="Choose a header color"></div>
                </div>
                <div>
                    <div md-color-picker ng-model="vm.settings.containerColor" label="Choose a container color"></div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
                <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;
                <span data-translate="entity.action.cancel">Cancel</span>
            </button>
            <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
                <span class="glyphicon glyphicon-save"></span>&nbsp;
                <span data-translate="entity.action.save">Save</span>
            </button>
        </div>
    </form>
</div>
