<div class="inmodal in modal-content feature-dialog-modal common-create-popup">
    <form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>
        <div class="modal-header">
            <svg class="common-edit-icon">
              <use xlink:href="#edit-dashboard" />
            </svg>
            <div class="header-text">
                <span class="modal-title" id="myDimensionsLabel">Create or edit a Feature</span>
            </div>
            <svg class="common-cancle-icon" data-dismiss="modal" ng-click="vm.clear()">
              <use xlink:href="#cancle" />
            </svg>
        </div>
        <div class="modal-body">
            <jhi-alert-error></jhi-alert-error>

            <div class="row">
                <div class="col-md-5">
                    <div class="form-group" ng-show="vm.feature.id">
                        <label for="id" data-translate="global.field.id">ID</label>
                        <input type="text" class="form-control" id="id" name="id" ng-model="vm.feature.id" readonly />
                    </div>
                    <div class="form-group">
                        <label class="control-label" data-translate="flairbiApp.dimensions.name" for="field_name">Name</label>
                        <input type="text" class="form-control" name="name" id="field_name" ng-model="vm.feature.name" required ng-maxlength="40"
                        />
                        <div ng-show="editForm.name.$invalid">
                            <p class="help-block" ng-show="editForm.name.$error.required" data-translate="entity.validation.required">
                                This field is required.
                            </p>
                            <p class="help-block" ng-show="editForm.name.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="40">
                                This field cannot be longer than 40 characters.
                            </p>
                        </div>
                    </div>

                    <div style="display:none;" class="form-group">
                        <label class="control-label" data-translate="flairbiApp.dimensions.type" for="field_type">Type</label>
                        <input type="text" class="form-control" name="type" id="field_type" ng-model="vm.feature.type" required ng-maxlength="40"
                        />
                        <div ng-show="editForm.type.$invalid">
                            <p class="help-block" ng-show="editForm.type.$error.required" data-translate="entity.validation.required">
                                This field is required.
                            </p>
                            <p class="help-block" ng-show="editForm.type.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="40">
                                This field cannot be longer than 40 characters.
                            </p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Definition</label>
                        <input type="text" class="feature-definition form-control" name="definition" id="field_definition" ng-model="vm.feature.definition"
                            required>
                        <div ng-show="editoForm.definition.$invalid">
                            <p class="help-block" ng-show="editForm.definition.$error.required">
                                This field is required
                            </p>
                        </div>
                    </div>
                    <div style="display:none;" class="form-group">
                        <label class="control-label">Feature type</label>
                        <ui-select ng-model="vm.feature.featureType" theme="bootstrap">
                            <ui-select-match placeholder="Select feature type">
                                {{vm.feature.featureType}}
                            </ui-select-match>
                            <ui-select-choices repeat="featureType as featureType in vm.featureTypes">
                                {{featureType}}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div class="col-md-1"></div>

                <div class="col-md-5 feature-detail">

                    <div class="form-group">
                        <div class="search-box-feature inner-addon left-addon">
                            <i class="glyphicon glyphicon-search"></i>
                            <input type="text" name="searchFunction" id="searchFunction" ng-model="searchFunction" class="form-control  rounded-corner" placeholder="Search Function..." />
                        </div>
                    </div>

                    <div class="form-group feature-collapse">
                        <div id="accordion">
                            <div ng-repeat="function in vm.functions | filter: {name: searchFunction} " class="card">
                                <div class="card-header" id="hid_{{function.id}}">
                                    <h5 class="mb-0">
                                        <button type="button" class="btn heading-colour" ng-click="vm.copyFunctions(function.value)">{{function.value}} &nbsp;<span class="badge"><i>fx</i></span></button>
                                        <span class="glyphicon glyphicon-info-sign collapsed" data-toggle="collapse" data-target="#fid_{{function.id}}" aria-expanded="false" aria-controls="fid_{{function.id}}"></span>
                                    </h5>
                                </div>
                                <div id="fid_{{function.id}}" class="collapse" aria-labelledby="hid_{{function.id}}" data-parent="#accordion">
                                    <div class="card-body">
                                        {{function.description}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
        <!--  Modal Body -->


        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
                <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;
                <span data-translate="entity.action.cancel">Cancel</span>
            </button>
            <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
                <span class="glyphicon glyphicon-save"></span>&nbsp;
                <span data-translate="entity.action.save">Save</span>
            </button>
        </div>
    </form>
</div>