<div class="inmodal in modal-content common-create-popup">
    <form name="editForm" novalidate="" role="form">
        <div class="modal-header flair-model-header">
            <svg class="common-edit-icon">
              <use xlink:href="#edit-dashboard" />
            </svg>
            <div class="header-text">
                Dag Scheduler
            </div>
            <svg class="common-cancle-icon" data-dismiss="modal" ng-click="vm.clear()">
                <use xlink:href="#cancle" />
            </svg>
        </div>
        <div class="modal-body flair-remove-padding scheduler-modal-body">
            <div class="container">
                <div class="row container">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label class="control-label" for="timezoneGroup">Timezone*</label>
                            <ui-select ng-model="vm.scheduleObj.schedule.timezone">
                              <ui-select-match placeholder="Select Timezones ...">{{$select.selected}}</ui-select-match>
                              <ui-select-choices repeat="timezoneGroup in vm.timezoneGroups | filter: $select.search track by timezoneGroup">
                                <div ng-bind="timezoneGroup"></div>
                              </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label class="control-label" for="channels">Channels*</label>
                            <ui-select ng-model="vm.scheduleObj.assign_report.channel">
                              <ui-select-match placeholder="Select Channel ...">{{$select.selected}}</ui-select-match>
                              <ui-select-choices repeat="channel in vm.channels  | filter: $select.search track by channel">
                                <div ng-bind="channel"></div>
                              </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
                <div class="row container">
                    <div class="col-xs-5">
                        <div class="form-group scheduler-tags">
                            <label class="control-label" for="emails">Share Report with Users*</label>
                            <tags-input placeholder="Select a User" on-tag-added="vm.added($tag)" on-tag-removed="vm.removed($tag)" class="filter-input" add-from-autocomplete-only="true" minTags="5" min-length="1" ng-model="vm.selectedUser" ng-required="vm.scheduleObj.assign_report.emails.length==0"
                                replace-spaces-with-dashes="false">
                                <auto-complete match-class=" filter-autocomplete " source="vm.loadUsers($query)" min-length="0" load-on-focus="true " load-on-empty="true " max-results-to-show="32 ">
                                </auto-complete>
                            </tags-input>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label class="control-label" for="visualizations">Visualization Type*</label>
                            <ui-select ng-model="vm.scheduleObj.report_line_item.visualization">
                              <ui-select-match placeholder="Select Visualization ...">{{$select.selected}}</ui-select-match>
                              <ui-select-choices repeat="visualization in vm.visualizations  | filter: $select.search track by visualization">
                                <div ng-bind="visualization"></div>
                              </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
                <div class="row container">
                    <div class="col-xs-9">
<!--                         <form name="cronForm">
                            <cron-gen ng-model="cronExpression" ng-disabled="isCronDisabled" options="cronOptions" name="cron">
                            </cron-gen>
                        </form> -->
                        <cron-generator config="vm.cronConfig" ng-model="cronExpression"></cron-generator>
                    </div>
                </div>
                <br />
                <div class="row container">
                    <div class="col-xs-5">
                        Scheduled Report:
                        <span class="text-success"><b>{{vm.cronstrue}}</b></span>
                    </div>
                    <div class="col-xs-5">
                        Cron Expression:
                        <span id="example-val" class="text-success"><b>{{cronExpression}}</b></span>
                    </div>
                </div>
                <br />
                <div class="row container">
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label class="control-label" for="startDate">Start Date*</label>
                            <div class="input-group">
                                <input id="startDate" ng-required="vm.startDate == null" type="text" class="form-control" name="startDate" datetime-picker="{{dateformat}}" ng-model="vm.startDate" is-open="vm.datePickerOpenStatus.startDate" required />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="vm.openCalendar('startDate')">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label class="control-label" for="endDate">End Date*</label>
                            <div class="input-group">
                                <input id="endDate" ng-required="vm.endDate == null" type="text" class="form-control" name="endDate" enable-time="false" datetime-picker="{{vm.endDateFormat}}" ng-model="vm.endDate" is-open="vm.datePickerOpenStatus.endDate" required />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="vm.openCalendar('endDate')">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="vm.schedule()" ng-disabled="editForm.$invalid || vm.isSaving">
                <span class="fa fa-calendar"></span>&nbsp;
                <span>Schedule</span>
            </button>
            <button class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()" type="button">
                <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;
                <span data-translate="entity.action.cancel">Cancel</span>
            </button>
        </div>
    </form>
</div>