<div class="{{vm.formClass}}" ng-if="vm.property.type !== 'COLOR_PICKER' &&  vm.property.propertyType.name !=='Text colour expression' && vm.property.propertyType.name !=='Cell colour expression' && vm.property.propertyType.name !=='Icon Expression' && vm.property.propertyType.name !=='Display colour expression'">

    <label class="{{vm.labelClasses}}"  
        for="propertyType_{{vm.property.propertyType.name}}">{{vm.property.propertyType.name}}</label>

    <input ng-keyup="vm.setProperty(vm.property.value)" ng-model="vm.property.value" ng-if="vm.property.type === 'TEXT'" type="text" class="{{vm.inputClasses}}"
        name="{{vm.property.propertyType.name}}" id="propertyType_{{vm.property.propertyType.name}}" />

    <select ng-click="vm.setProperty(vm.property.value)" ng-class="{'legend-position': vm.property.propertyType.name=='Legend position'}"
        ng-if="vm.property.type === 'SELECT' && vm.property.propertyType.name!='Font weight'"
        ng-model="vm.property.value"
        ng-options="value.value for value in vm.property.propertyType.possibleValues track by value.id"
        class="{{vm.inputClasses}}" name="{{vm.property.propertyType.name}}">
    </select>

    <select ng-click="vm.setProperty(vm.property.value)" ng-if=" vm.property.propertyType.name=='Font weight' &&  vm.property.type === 'SELECT'"
        ng-model="vm.property.value" class="{{vm.inputClasses}}" name="{{vm.property.propertyType.name}}">
        <option ng-repeat="value in vm.property.propertyType.possibleValues track by value.id" ng-style="{'font-weight': value.value}">
            {{value.value}}
        </option>
    </select>
    
    <input ng-change="vm.setProperty(vm.property.value)" ng-model="vm.property.value" ng-if="vm.property.type === 'NUMBER'" type="number" class="{{vm.inputClasses}}"
        name="{{vm.property.propertyType.name}}" />
         
    <label ng-click="vm.setCheckboxProperty(vm.property.value)" ng-model="vm.property.value" ng-if="vm.property.type === 'CHECKBOX'" class="flair-checkbox" >
            <i class="fa fa-square-o fa-2x ng-class:{'fa-square-o-checked':vm.property.value,'fa-square-o-unchecked':!vm.property.value} "></i>
            <i class="fa fa-check-square-o fa-2x ng-class:{'fa-check-square-o-checked':vm.property.value,'fa-check-square-o-unchecked':!vm.property.value}"></i>
    </label>   
</div>

<div ng-if="vm.property.type === 'COLOR_PICKER'" class="row">
    <div class="control-label-color-picker flair-model-pad pull-left">{{vm.property.propertyType.name}}</div>
    <div class="color-picker-container">
        <div ng-change="vm.setProperty(vm.property.value)" md-color-picker ng-model="vm.property.value"></div>
    </div>
</div>
<div ng-if="vm.property.propertyType.name === 'Text colour expression' || vm.property.propertyType.name === 'Cell colour expression' || vm.property.propertyType.name ==='Icon Expression' || vm.property.propertyType.name ==='Display colour expression'" class="row">
    <div class="control-label-color-picker flair-model-pad pull-left">{{vm.property.propertyType.name}}</div>
    <div class="color-picker-container" uib-tooltip="Set Conditional Expressions" tooltip-placement="top" >
        <!-- <input  ng-click="vm.openIconExpression(vm)" type="button" value="set condition"> -->
        

        <svg  class="colorCondition" ng-click="vm.openIconExpression(vm)">
            <use xlink:href="#visualization-colors" />
        </svg>
            
    </div>
</div>