<div class="ibox">
    <div class="ibox-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-4 no-padding-left">
                    <button class="btn btn-primary" ui-sref="field-type.new">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="flairbiApp.fieldType.home.createLabel">
                        Create new Field Type
                    </span>
                </button>
                </div>
            </div>
        </div>
        <br/>
        <div class="table-responsive">
            <table class="jh-table table table-striped">
                <thead>
                    <tr>
                        <th><span data-translate="global.field.id">ID</span></th>
                        <th> <span data-translate="flairbiApp.fieldType.order">Order</span> </th>
                        <th><span data-translate="flairbiApp.fieldType.constraint">Constrant</span></th>
                        <th><span data-translate="flairbiApp.fieldType.featureType">Feature Type</span></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="fieldType in vm.fieldTypes | orderBy: 'order'">
                        <td><a ui-sref="visualization-detail({id:fieldType.id})">{{fieldType.id}}</a></td>
                        <td>{{fieldType.order + 1 }} </td>
                        <td>{{fieldType.constraint}} </td>
                        <td>{{fieldType.featureType}}</td>
                        <td class="text-right">
                            <div class="btn-group flex-btn-group-container">
                                <button type="submit" ui-sref="field-type-detail({fieldTypeId:fieldType.id})" class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                                <button type="submit" ui-sref="field-type.delete({fieldTypeId:fieldType.id})" class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
