<form name="connectionForm" role="form" show-validation>
    <p class="wizard-help-text"> Configure database server details</p>
    <div class="form-group m-t-lg">
        <ui-select ng-model="vm.connection" theme="bootstrap" on-select="vm.connectionSelected($item, $model)">
            <ui-select-match placeholder="Select Existing Connection" allow-clear="true">
                {{vm.connection.name}}
            </ui-select-match>
            <ui-select-choices repeat="connection as connection in vm.connections">
                {{connection.name}}
            </ui-select-choices>
        </ui-select>
    </div>

    <div class="text-center ">
        <label class="divider control-label">
            OR
        </label>
    </div>

    <div class="form-group">
        <label class="control-label">Connection name</label>
        <input name="connectionName" ng-disabled="vm.selectedConnection" type="text" ng-model="vm.connection.name"
            class="form-control" ng-required="!vm.selectedConnection">
    </div>
    <connection-property-component connection="vm.connection" disabled="vm.selectedConnection" form='connectionForm'
        c-property="cp"
        ng-repeat="cp in vm.connectionType.connectionPropertiesSchema.connectionProperties | orderBy: 'order'">
    </connection-property-component>
    <div class="form-group"
         ng-if="vm.connectionType.connectionPropertiesSchema.config['disableUsername'] !== 'true'">
        <label class="control-label">Username</label>
        <input name="username" ng-disabled="vm.selectedConnection" type="text"
            ng-model="vm.connection.connectionUsername" class="form-control" ng-required="!vm.selectedConnection">
    </div>
    <div class="form-group"
         ng-if="vm.connectionType.connectionPropertiesSchema.config['disablePassword'] !== 'true'">
        <label class="control-label">Password</label>
        <input name="password" ng-disabled="vm.selectedConnection" type="password"
            ng-model="vm.connection.connectionPassword" class="form-control">
    </div>
    <div class="row m-t-md">
        <div class="col-md-12 test-connection-col">
            <div class="test-connection-button">
                <button ng-click="vm.testConnection()" class="btn btn-primary"
                    ng-disabled="connectionForm.$invalid">Test connection</button>
            </div>
            <loading-component show-loading="vm.loading"></loading-component>
            <div ng-show="vm.testResult === 'error'" class="test-connection-label alert-danger animate-show-hide">
                <i class="fa fa-times"></i> Connection Error. Please check configurations </div>
            <div ng-show="vm.testResult === 'success'" class="test-connection-label alert-success animate-show-hide">
                <i class="fa fa-check"></i> Connection success </div>
        </div>
    </div>
    <div class="wizard-navigate-buttons">
        <button class="btn btn-default" type="button" wz-previous value="Back" ng-click="vm.previousStep()">
            <span class="glyphicon glyphicon-circle-arrow-left"></span>
            Back
        </button>
        <button class="btn btn-primary" type="submit" ng-disabled="connectionForm.$invalid" wz-next value="Next"
            ng-click="vm.nextStep()">
            <span class="glyphicon glyphicon-circle-arrow-right"></span>
            Next
        </button>
    </div>
</form>