<form name="dataSourceForm" role="form" show-validation>
    <div style="text-align: center">
        <div type="tab"
             class="date-range-btn"
             ng-class="{'date-range-btn-active':vm.tabIndex == 0}"
             ng-click="vm.onTabClick(0)">
            <p class="flex-text" data-translate="flairbiApp.datasources.regular.name">_Regular</p>
        </div>
        <div type="tab"
             class="date-range-btn"
             ng-class="{'date-range-btn-active':vm.tabIndex == 1}"
             ng-click="vm.onTabClick(1)">
            <p class="flex-text" data-translate="flairbiApp.datasources.sqlmode.name">_SQL mode</p>
        </div>
    </div>
    <div class="form-group" ng-show="vm.tabIndex == 0">
        <label class="control-label" data-translate="flairbiApp.datasources.name" for="field_name">Table Name</label>
        <ui-select ng-keyup="vm.onSearchKeyUp($select.search)"
                   id="field_name"
                   name="name"
                   ng-model="vm.selectedTables1"
                   ng-change="vm.onSelectedTableChanged($select.selected)"
                   required>
            <ui-select-match placeholder="{{ 'flairbiApp.datasources.selectDatasource' | translate }}">
                {{$select.selected.name}}
            </ui-select-match>
            <ui-select-choices repeat="table in vm.tables">
                <div ng-bind="table.name"></div>
            </ui-select-choices>
        </ui-select>
        <div ng-show="dataSourceForm.name.$invalid ">
            <p class="help-block " ng-show="dataSourceForm.name.$error.required "
                data-translate="entity.validation.required ">
                This field is required.
            </p>
            <p class="help-block " ng-show="dataSourceForm.name.$error.maxlength "
                data-translate="entity.validation.maxlength " translate-value-max="60">
                This field cannot be longer than 60 characters.
            </p>
        </div>
    </div>

    <div ng-show="vm.tabIndex == 1">
        <div class="form-group">
            <label class="control-label" data-translate="flairbiApp.datasources.sqlmode.enterdatasource"
                   for="dsname">_</label>
            <ui-select ng-keyup="vm.onSearchKeyUp($select.search)"
                       id="dsname"
                       name="dsname"
                       ng-model="vm.selectedTables2"
                       ng-change="vm.onSelectedTableChanged($select.selected)"
                       required>
                <ui-select-match placeholder="{{ 'flairbiApp.datasources.selectDatasource' | translate }}">
                    {{$select.selected.name}}
                </ui-select-match>
                <ui-select-choices repeat="table in vm.getDatasourceNames($select.search)">
                    <div ng-bind="table.name"></div>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="flairbiApp.datasources.sqlmode.enterquery"
                   for="tarea">_</label>
            <div class="sql-query-container">
                <div class="line-nums" ><div ng-repeat="(key,value) in vm.lines track by $index">{{key+1}}</div></div>
                <textarea class="form-control sql-query-area" id="tarea" name="tarea" rows={{vm.sqlQuerylength}}
                          ng-model="vm.sql" ng-blur="vm.formatSql(vm.sql)" ng-paste="vm.formatSql(vm.sql)">    
                </textarea>
            </div>
        </div>
    </div>

    <div class="row m-t-md sql-actions">
        <div class="sql-action">
            <button ng-disabled="vm.isShowDataEnabled()" ng-click="vm.showData()" class="btn btn-primary">
                Show Data
            </button>
            <loading-component show-loading="vm.loading"></loading-component>
        </div>
        <div class="sql-action">
            <button ng-disabled="vm.isShowDataEnabled()" ng-if="vm.tabIndex==1" ng-click="vm.formatSql(vm.sql)" class="btn btn-primary" data-translate="flairbiApp.datasources.format.query">
                Format Query
            </button>
        </div>
    </div>
    <br />

    <div ng-show="vm.data.length > 0" class="window-holder" id="sample-data-holder">
        <header class="cf">
            <div class="header-title-small">
                <p>Sample Data</p>
            </div>
        </header>
        <div class="window-body">
            <div class="datasource-table-holder">
                <table id="datasource-table" class="table table-striped table-bordered flair-table-v1">
                    <thead>
                        <tr id="datasource-table-col">
                            <th ng-repeat="(key, value) in vm.data[0]">{{key}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in vm.data">
                            <td ng-repeat="(key, value) in row"> {{value}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div> <!-- end window body -->
    </div> <!-- end popupholder -->

    <div class="wizard-navigate-buttons ">
        <button type="button " class="btn btn-default " ng-click="vm.resetTest() " wz-previous value="Back ">
            <span class="glyphicon glyphicon-circle-arrow-left "></span>
            Back
        </button>
        <button type="submit" ng-disabled="vm.onSubmitDisabled()" class="btn btn-primary"
            ng-click="vm.createDataSource()">
            <span class="glyphicon glyphicon-check"></span>
            Create Datasource
        </button>
    </div>
</form>