
<div class="container-fluid" id="shareLink">

    <div class="row">
        <div class="col-md-10">
            <span ng-if="vm.isExport" class="dashboard-text">Dashboard : {{vm.view.viewDashboard.dashboardName}}</span>
        </div>
        <div class="col-md-2 filterIcon text-right">
            <button uib-tooltip="Filters" tooltip-placement="left" ng-click="vm.onFiltersOpen()"
                ng-toggled="vm.filterToggled" type="button" class="btn btn-link btn-sm">
                <svg class="filter">
                    <use xlink:href="#export-filter" />
                </svg>
            </button>
            <button ng-if="vm.isExport" uib-tooltip="Export" tooltip-placement="left" ng-click="vm.exportData()"
                type="button" class="btn btn-link btn-sm">
                <svg class="filter">
                    <use xlink:href="#export" />
                </svg>
            </button>
            
        </div>
    </div>
    <div class="row">
        <div style="min-height:92.5vh;top: 0px;padding-left: 0px;" class="col-md-12 widget-container-share-link" data="vm.visualMetadata"
            ng-style="{'background-color': vm.visualMetadata.bodyProperties.backgroundColor}" visualization-render-grpc
            can-build="vm.visualMetadata.canBuild()"
            id="content-{{vm.visualMetadata.id || vm.visualMetadata.visualBuildId}}"
            widget="{{vm.visualMetadata.metadataVisual.functionname}}" reload="vm.change" datasource="vm.datasource">
        </div>

        <div class="col-md-2">
            <div id="slider" style="margin: auto;" class="flair-scroll-gray" ng-style="vm.thinbarStyle">
                <filter-pane-component view="vm.view" dimensions="vm.dimensions" type="Filters" tab="vm.sideBarTab">
                </filter-pane-component>
            </div>
        </div>
    </div>
</div>