<jhi-alert-error></jhi-alert-error>
<div class="fbibox user-information-container">
    <div class="fbibox-content">
        <div class="properties-container">
            <div class="fbibox">
                <div class="fbibox-title">
                    <h2>User Information</h2>
                </div>
                <div class="fbibox-content">
                    <div class="table-responsive">
                            <table class="table property-information-table flair-table-v2">
                                <tbody>
                                    <tr>
                                        <td class="data-label" data-translate="userManagement.login">Login</td>
                                        <td>{{vm.user.login}}</td>
                                    </tr>
                                    <tr>
                                        <td class="data-label" data-translate="userManagement.firstName">First Name</td>
                                        <td>{{vm.user.firstName}}</td>
                                    </tr>
                                    <tr>
                                        <td class="data-label" data-translate="userManagement.lastName">Last Name</td>
                                        <td>{{vm.user.lastName}}</td>
                                    </tr>
                                    <tr>
                                        <td class="data-label" data-translate="userManagement.email">Email</td>
                                        <td>{{vm.user.email}}</td>
                                    </tr>
                                    <tr>
                                        <td class="data-label" data-translate="userManagement.activated">Activated</td>
                                        <td>{{vm.user.activated}}</td>
                                    </tr>
                                    <tr>
                                        <td class="data-label" data-translate="userManagement.langKey">Language Key</td>
                                        <td>{{vm.user.langKey}}</td>
                                    </tr>
                                    <tr>
                                        <td class="data-label" data-translate="userManagement.createdBy">Created By</td>
                                        <td>{{vm.user.createdBy}}</td>
                                    </tr>
                                    <tr>
                                        <td class="data-label" data-translate="userManagement.createdDate">Created Date</td>
                                        <td>{{vm.user.createdDate | date:'dd/MM/yy HH:mm' }}</td>
                                    </tr>
                                    <tr>
                                        <td class="data-label" data-translate="userManagement.lastModifiedBy">Last Modified By</td>
                                        <td>{{vm.user.lastModifiedBy}}</td>
                                    </tr>
                                    <tr>
                                        <td class="data-label" data-translate="userManagement.lastModifiedDate">Last Modified Date</td>
                                        <td>{{vm.user.lastModifiedDate | date:'dd/MM/yy HH:mm'}}</td>
                                    </tr>
                                    <tr>
                                        <td class="data-label" data-translate="userManagement.profiles">Profiles</td>
                                        <td>
                                            <ul class="list-unstyled">
                                                <li class="m-b-xs" ng-repeat="userGroup in vm.user.userGroups">
                                                    <span class="label label-info">{{userGroup}}</span>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<button type="submit" ng-click="vm.back()"
        class="btn btn-primary">
    <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
</button>