<div class="content-header-container">
    <div class="containder-fluid">
        <div class="row">
            <div class="header-text col-md-8 col-sm-6 com-xs-12">
                <h2 data-translate="userManagement.home.title">Users</h2>
                <div class="bread-crumb">
                    <ui-breadcrumbs displayname-property="data.displayName" template-url="templates/angular-utils-ui-breadcrumbs/uiBreadcrumbs.tpl.html" >></ui-breadcrumbs>
                </div>
            </div>
        </div>
    </div>
</div>
