<div uib-tooltip="{{vm.information.name}}" tooltip-placement="bottom" class="information-card" id=information-card-{{vm.information.id}}>
    <div class="information-card-body">
        <svg>
           <use xlink:href={{vm.information.icon}}></use>
        </svg>
        <div class="tile-value">
            <p ng-repeat="(key, value) in vm.value">{{value}}</p>
            <p class="home_label" ng-if="vm.isDesktop()">{{vm.information.name}}</p>
        </div>
    </div>
    <div class="blue-line"></div>
</div>