<div>
    <div class="row">
        <div class="col-md-3 col-sm-6" ng-repeat="view in vm.views">
            <view-component can-edit="vm.canEdit" view="view"></view-component>
        </div>
    </div>
</div>
<div class="text-center" ng-if="vm.totalItems>0">
  <jhi-item-count page="vm.page" total="vm.totalItems" items-per-page="vm.itemsPerPage">
  </jhi-item-count>
  <ul uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page"
    ng-change="vm.loadPage(vm.page)" items-per-page="vm.itemsPerPage"></ul>
</div>
<div ng-hide="vm.showWaterMark">
	<no-data-found-component message="No views available" action="click on “create” button
	"></no-data-found-component>
</div>
