<div class="container-margin-top">

    <div class="recent-tabs">
        <div id="tab-bookmark" class="tab" ng-click="vm.toggleTabs('bookmark')">
            <p>Recent Bookmarks</span>
            <div class="icon-box">
                <svg >
                    <use xlink:href="#recent-accessed-bookmark"></use>
                </svg>
            </div>
            <div class="blue-line"></div>
        </div>
        <div id="tab-dashboard" class="tab" ng-click="vm.toggleTabs('dashboard')" style="display: none;">
            <p>Recent Dashboards</span>
            <div class="icon-box">
                <svg >
                    <use xlink:href="#recent-accessed-dashboard"></use>
                </svg>
            </div>
            <div class="blue-line"></div>
        </div>
        <div id="tab-view" class="tab" ng-click="vm.toggleTabs('view')">
            <p>Recent Views</span>
            <div class="icon-box">
                <svg >
                    <use xlink:href="#recent-accessed-view"></use>
                </svg>
            </div>
            <div class="blue-line"></div>
        </div>
        <div id="tab-overall-most-popular-views" class="tab recent-popular-tabs" ng-click="vm.toggleTabs('overall-most-popular-views')">
            <p>Overall most popular Views</span>
            <div class="icon-box">
                <div class="icon-box">
                    <svg >
                        <use xlink:href="#recent-accessed-view"></use>
                    </svg>
                </div>
            </div>
            <div class="blue-line"></div>
        </div>
        <div id="tab-overall-most-popular-bookmarks" class="tab recent-popular-tabs" ng-click="vm.toggleTabs('overall-most-popular-bookmarks')">
            <p>Overall most popular Bookmarks</span>
            <div class="icon-box">
                <div class="icon-box">
                    <svg >
                        <use xlink:href="#recent-accessed-bookmark"></use>
                    </svg>
                </div>
            </div>
            <div class="blue-line"></div>
        </div>
    </div>

    <div class="recently-accessed">
        <div class="recently-accessed-row" ng-if="vm.viewWatches.length>0 && vm.tabId=='view'">
            <div class="col-md-3 col-sm-6" ng-repeat="viewWatch in vm.viewWatches">
                <view-component class="view" permissions="vm.account.permissions" view="viewWatch.view"></view-component>
            </div>
        </div>
        <div class="recently-accessed-row" ng-if="vm.mostPopularViews.length>0 && vm.tabId=='overall-most-popular-views'">
            <div class="col-md-3 col-sm-6" ng-repeat="view in vm.mostPopularViews">
            <view-component class="view" permissions="vm.account.permissions" view="view"></view-component>
            </div>
        </div>
        <div class="recently-accessed-row" ng-if="vm.bookmarkWatches.length>0 && vm.tabId=='bookmark'">
            <div class="col-md-3 col-sm-6" ng-repeat="bookmarkWatch in vm.bookmarkWatches">
            <view-component class="view" permissions="vm.account.permissions" view="bookmarkWatch.view" bookmark="bookmarkWatch.featureBookmark"></view-component>
            </div>
        </div>
        <div class="recently-accessed-row" ng-if="vm.mostPopularBookmarks.length>0 && vm.tabId=='overall-most-popular-bookmarks'">
            <div class="col-md-3 col-sm-6" ng-repeat="mostPopularBookmark in vm.mostPopularBookmarks">
            <view-component class="view" permissions="vm.account.permissions" view="mostPopularBookmark.view" bookmark="mostPopularBookmark.featureBookmark"></view-component>
            </div>
        </div>
    </div>

</div>
