<div class="container-margin-top">

    <div class="recent-tabs">
        <div id="tab-bookmark" class="tab" ng-click="vm.toggleTabs('bookmark')">
            <p>Favorite Bookmarks</span>
            <div class="icon-box">
                <svg >
                    <use xlink:href="#recent-accessed-bookmark"></use>
                </svg>
            </div>
            <div class="blue-line"></div>
        </div>
        <div id="tab-dashboard" class="tab" ng-click="vm.toggleTabs('dashboard')">
            <p>Recent Dashboards</span>
            <div class="icon-box">
                <svg >
                    <use xlink:href="#recent-accessed-dashboard"></use>
                </svg>
            </div>
            <div class="blue-line"></div>
        </div>
        <div id="tab-view" class="tab" ng-click="vm.toggleTabs('view')">
            <p>Recent Views</span>
            <div class="icon-box">
                <svg >
                    <use xlink:href="#recent-accessed-view"></use>
                </svg>
            </div>
            <div class="blue-line"></div>
        </div>
        <div id="tab-overall-most-popular" class="tab" ng-click="vm.toggleTabs('overall-most-popular')">
            <p>Overall most popular</span>
            <div class="icon-box">
                <div class="icon-box">
                    <svg >
                        <use xlink:href="#recent-accessed-dashboard"></use>
                    </svg>
                </div>
            </div>
            <div class="blue-line"></div>
        </div>
        <div id="tab-notification-subscriptions" class="tab" ng-click="vm.toggleTabs('notification-subscriptions')">
            <p>Notification Subscriptions</span>
            <div class="icon-box">
                <svg >
                    <use xlink:href="#system-alert"></use>
                </svg>
            </div>
            <div class="blue-line"></div>
        </div>
    </div>

    <div class="recently-accessed">
        <div class="recently-accessed-row" ng-if="vm.viewWatches.length>0 && vm.tabId=='view'">
            <div class="col-md-3 col-sm-6" ng-repeat="viewWatch in vm.viewWatches">
                <view-component class="view" permissions="vm.account.permissions" view="viewWatch.view"></view-component>
            </div>
        </div>
        <div class="recently-accessed-row" ng-if="vm.mostPopularViews.length>0 && vm.tabId=='overall-most-popular'">
            <div class="col-md-3 col-sm-6" ng-repeat="view in vm.mostPopularViews">
            <view-component class="view" permissions="vm.account.permissions" view="view"></view-component>
            </div>
        </div>
        <div class="recently-accessed-row" ng-if="vm.bookmarkWatches.length>0 && vm.tabId=='bookmark'">
            <div class="col-md-3 col-sm-6" ng-repeat="bookmarkWatch in vm.bookmarkWatches">
            <view-component class="view" permissions="vm.account.permissions" view="bookmarkWatch.view" bookmark="bookmarkWatch.featureBookmark"></view-component>
            </div>
        </div>
    </div>

</div>
