<div>
    <h2 data-translate="flairbiApp.fileUploaderStatus.home.title">File Uploader Statuses</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="file-uploader-status.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="flairbiApp.fileUploaderStatus.home.createLabel">
                        Create new File Uploader Status
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fileSystem"><span data-translate="flairbiApp.fileUploaderStatus.fileSystem">File System</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fileName"><span data-translate="flairbiApp.fileUploaderStatus.fileName">File Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="contentType"><span data-translate="flairbiApp.fileUploaderStatus.contentType">Content Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isFileProcessed"><span data-translate="flairbiApp.fileUploaderStatus.isFileProcessed">Is File Processed</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="fileUploaderStatus in vm.fileUploaderStatuses track by fileUploaderStatus.id">
                    <td><a ui-sref="file-uploader-status-detail({id:fileUploaderStatus.id})">{{fileUploaderStatus.id}}</a></td>
                    <td>{{fileUploaderStatus.fileSystem}}</td>
                    <td>{{fileUploaderStatus.fileName}}</td>
                    <td>{{fileUploaderStatus.contentType}}</td>
                    <td>{{fileUploaderStatus.isFileProcessed}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="file-uploader-status-detail({id:fileUploaderStatus.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="file-uploader-status.edit({id:fileUploaderStatus.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="file-uploader-status.delete({id:fileUploaderStatus.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
