<div class="date-range-component">
    <div class="btn-group btn-group-sm"
         data-toggle="buttons"
         role="group"
         aria-label="Date range">
        <div type="tab" style="background: #ededed" 
                class="date-range-btn"
                ng-class="{'date-range-btn-active':vm.dateRangeTab == 0}"
                ng-click="vm.onDateRangeClick(0)">
                <p class="flex-text">Day</p>
        </div>
        <div type="tab" style="background: #ededed" 
                class="date-range-btn"
                ng-class="{'date-range-btn-active':vm.dateRangeTab == 1}"
                ng-click="vm.onDateRangeClick(1)">
                <p class="flex-text">Range</p>
        </div>
        <div type="tab" style="background: #ededed"
                class="date-range-btn"
                ng-class="{'date-range-btn-active':vm.dateRangeTab == 2}"
                ng-click="vm.onDateRangeClick(2)">
                <p class="flex-text">Dynamic</p>
        </div>
    </div>
    <div ng-if="vm.dateRangeTab === 0">
        <label class="control-label" for="startDate1">Day:</label>
        <div class="input-group">
          <md-datepicker class="md-datepicker-flair" id="startDate1"
                         ng-model="vm.currentDimension.selected"
                         ng-change="vm.onInputChange()"
                         md-placeholder="Enter date"></md-datepicker>
        </div>
    </div>
    <div ng-if="vm.dateRangeTab === 1">
        <label class="control-label" for="startDate">Date:</label>
        <div class="input-group">
          <md-datepicker class="md-datepicker-flair" id="startDate"
                         ng-model="vm.currentDimension.selected"
                         ng-change="vm.onInputChange()"
                         md-placeholder="Start date"></md-datepicker>
        </div>
        <label class="control-label" for="endDate">End date:</label>
        <div class="input-group">
          <md-datepicker class="md-datepicker-flair" id="endDate"
                         ng-model="vm.currentDimension.selected2"
                         ng-change="vm.onInputChange()"
                         md-placeholder="End Date"></md-datepicker>
        </div>
    </div>
    <div ng-if="vm.dateRangeTab === 2">
        <div class="dynamic-date-range-select">
            <ui-select ng-model="vm.currentDynamicDateRangeConfig" name="currentDynamicDateRangeConfig" ng-change="vm.onInputChange()" >
                <ui-select-match placeholder="">
                    <span >{{$select.selected.title}}
                </ui-select-match>
                <ui-select-choices
                    repeat="config in vm.dynamicDateRangeConfig">
                    <div ng-bind="config.title"></div>
                </ui-select-choices>
            </ui-select>
        </div>
        <div  ng-if="vm.currentDynamicDateRangeConfig.isCustom">
            <input type="text"
                   class="form-control"
                   id="customDateRange"
                   ng-change="vm.onCustomDynamicDateRangeChange()"
                   ng-model="vm.customDynamicDateRange">
        </div>
    </div>
</div>
