<div class="fbibox">
    <div class="fbibox-content">
        <div class="row">
            <div class="col-xs-3">
                <div class="input-group">
                    <h4 class="control-label" data-translate="audits.filter.from" for="fromDate">From Date</h4>
                    <input  type="text" class="form-control" name="fromDate" enable-time="false" datetime-picker="{{vm.dateFormat}}" ng-model="vm.fromDate" is-open="vm.datePickerOpenStatus.fromDate" ng-change="vm.onChangeDate()" required/>
                    <span class="input-group-btn flair-date-icon">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('fromDate')">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="input-group">
                    <h4 class="control-label" data-translate="audits.filter.to" for="toDate">To Date</h4>
                    <input  type="text" class="form-control" name="toDate" enable-time="false" datetime-picker="{{vm.dateFormat}}" ng-model="vm.toDate" is-open="vm.datePickerOpenStatus.toDate" ng-change="vm.onChangeDate()" required/>
                    <span class="input-group-btn flair-date-icon">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('toDate')">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-xs-3">
                <user-search-component user="vm.user"/>
            </div>
            <div class="col-xs-1">
                <button style="margin-top: 30px" data-translate="entity.action.search" type="button" ng-click="vm.search()" class="btn btn-info search-btn">Search</button>
            </div>
        </div>
        <br/>
        <table class="table table-condensed table-striped table-bordered table-responsive">
            <thead>
                <tr>
                    <th ng-click="predicate = 'timestamp'; reverse=!reverse"><span data-translate="audits.table.header.date">Date</span>
                    </th>
                    <th ng-click="predicate = 'principal'; reverse=!reverse"><span data-translate="audits.table.header.principal">User</span></th>
                    <th ng-click="predicate = 'type'; reverse=!reverse"><span data-translate="audits.table.header.status">State</span></th>
                    <th ng-click="predicate = 'data.message'; reverse=!reverse"><span data-translate="audits.table.header.data">Extra data</span>
                    </th>
                </tr>
            </thead>

            <tr ng-repeat="audit in vm.audits | filter:filter | orderBy:predicate:reverse" ng-hide="audit.filtered">
                <td><span>{{audit.timestamp| date:'medium'}}</span></td>
                <td>
                    <small>{{audit.principal}}</small>
                </td>
                <td>{{audit.type}}</td>
                <td>
                    <span ng-show="audit.data.message">{{audit.data.message}}</span>
                    <span ng-show="audit.data.remoteAddress"><span data-translate="audits.table.data.remoteAddress">Remote Address</span>                    {{audit.data.remoteAddress}}</span>
                </td>
            </tr>
        </table>

        <div class="text-center">
            <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.loadPage(vm.page)"></uib-pagination>
        </div>

    </div>
</div>
