.filter-area {
    .filter-element {
        label {
            font-weight: 600;
            margin-left: .5vw;
        }
        tags-input.filter-input {
            margin: .5vw;
        }
    }
    .dimensions-container {
        padding: 10px 5px;
        height: 100%;
        max-height: 75%;
    }
    .filter-button {
        margin: 0;
        padding-left: 2px;
        .btn {
            margin-bottom: 10px;
            margin-left: .5vw;
        }
    }
}