.test-connection-col{
    display:flex;
    align-items: center;
    .test-connection-label {
        font-size: 14px;
        padding: 6.3px;
        border-radius: 1px;
    }
    .show-sample-data{
        margin-left: auto;
    }
}



.flex-container {
    display: flex;
    display: -webkit-flex;
    .f-column {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
    .f-row {
        -webkit-flex-direction: row;
        flex-direction: row;
    }
    .f-item {
        -webkit-flex-grow: 1;
        flex-grow: 1;
        -webkit-flex-shrink: 1;
        flex-shrink: 1;
        -webkit-flex-basis: auto;
        flex-basis: auto;
        &.no-shrink {
            flex-shrink: 0;
            -webkit-flex-shrink: 0;
        }
        &.no-grow {
            flex-grow: 0;
            -webkit-flex-grow: 0;
        }
    }

    &.available-connections-container{
        justify-content: center;
        padding: 40px;
    }
}

.divider {
    background-color: #f2f2f2;
    border-radius: 30px;
    border-color: #f2f2f2;
    color: $text-color;
    padding: 10px;
    margin: 0;
}

.wizard-navigate-buttons{
    text-align: right;
    padding-top: 20px;

    .btn + .btn{
        margin-left: 5px;
    }
}

.wizard-help-text{
    text-align: center;
}

.test-connection-button{
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.supported-connections-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .connection-image{
        margin: 20px;
        img{
            height: 70px;
            width: 70px;
        }
    }
}

div.featuresList{
    border-radius: 25px;
    border: 1px solid #f1f3f3;
    padding: 11px;
    height: 59px;    
}