<div class="fbibox">
    <div class="fbibox-content">
        <div class="table-responsive">
            <table class="table table-striped flair-table-v1">
                <thead>
                    <tr>
                        <th>
                            <span data-translate="reportManagement.no"></span>
                        </th>
                        <th>
                            <span data-translate="reportManagement.status"></span>
                        </th>
                        <th>
                            <span data-translate="reportManagement.executedAt"></span>
                        </th> 
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="log in vm.logs">
                        <td>{{$index+1+ (vm.page-1) * vm.itemsPerPage}}</td>
                        <td>{{log.task_status}}</td>
                        <td>{{log.task_executed | date : "dd.MM.y" }}</td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
         

<div class="text-center">
            <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
            <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.loadPage(vm.page)"></uib-pagination>
        </div>


    </div>
</div>