<div class="fbibox" id="reportLog">
    <div class="fbibox-content">
        <div class="table-responsive">
            <table class="table table-striped flair-table-v1">
                <thead>
                    <tr>
                        <th>
                            <span data-translate="reportManagement.no"></span>
                        </th>

                        <th>
                            <span data-translate="reportManagement.executedAt"></span>
                        </th>
                        <th>
                            <span data-translate="reportManagement.dashboardName"></span>
                        </th>
                        <th>
                            <span data-translate="reportManagement.viewName"></span>
                        </th>
                        <th>
                            <span data-translate="reportManagement.description"></span>
                        </th>
                        <th>
                            <span data-translate="reportManagement.channel"></span>
                        </th>
                        <th>
                            <span data-translate="reportManagement.thresholdMet"></span>
                        </th>
                        <th>
                            <span data-translate="reportManagement.queryID"></span>
                        </th>
                        <th style="width: 100px;">
                            <span data-translate="reportManagement.status"></span>
                        </th>
                        <th>
                            <span data-translate="reportManagement.enableTicketCreation"></span>
                        </th>
                        <th>
                            <span>Action</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="log in vm.logs">
                        <td>{{$index+1+ (vm.page-1) * vm.itemsPerPage}}</td>
                        <td>{{log.taskExecuted | date : "dd.MM.y" }}</td>
                        <td>{{log.dashboardName  }}</td>
                        <td>{{log.viewName}}</td>
                        <td>{{log.descripition}}</td>
                        <td>{{log.channel}}</td>
                        <td>
                            <label class="flair-checkbox">
                                <i
                                    class="fa fa-square-o fa-2x ng-class:{'fa-square-o-checked':log.thresholdMet,'fa-square-o-unchecked':!log.thresholdMet} "></i>
                                <i
                                    class="fa fa-check-square-o fa-2x ng-class:{'fa-check-square-o-checked':log.thresholdMet,'fa-check-square-o-unchecked':!log.thresholdMet}"></i>
                            </label>
                        </td>
                        <td>{{log.schedulerTaskMetaId  }}</td>
                        <td>{{log.taskStatus}}</td>
                        <td>
                            <label class="flair-checkbox" ng-class="vm.getLabelClass(log)"
                                ng-click="vm.enableTicketCreation(log)">
                                <i
                                    class="fa fa-square-o fa-2x ng-class:{'fa-square-o-checked':log.enableTicketCreation,'fa-square-o-unchecked':!log.enableTicketCreation} "></i>
                                <i
                                    class="fa fa-check-square-o fa-2x ng-class:{'fa-check-square-o-checked':log.enableTicketCreation,'fa-check-square-o-unchecked':!log.enableTicketCreation}"></i>
                            </label>
                        </td>
                        <td>
                            <div class="btn-group flex-btn-group-container report-actions">
                                <button
                                    ng-if="log.thresholdMet && log.taskStatus=='success' && log.enableTicketCreation && !log.isTicketCreated"
                                    ng-click="vm.createJira(log)" uib-tooltip="Create Jira"
                                    class="btn btn-default btn-sm">
                                    <img src="../../../content/svgs/jira.svg" />
                                </button>

                                <button ng-if="log.isTicketCreated && log.viewTicket!='Jira not created'"
                                    ng-click="vm.viewJiraTicket(log)" uib-tooltip="View Jira"
                                    class="btn btn-default btn-sm">
                                    <span class="fa fa-info-circle fa-2x text-primary"></span>

                                </button>

                                <button ng-if="log.taskStatus == 'success' || log.viewData != ''"
                                    uib-tooltip="View Data" ng-click="vm.goToViewDataPage(log)"
                                    class="btn btn-default btn-sm">
                                    <span class="fa fa-eye views-icon fa-2x"></span>
                                </button>

                                <button ng-if="log.thresholdMet && log.taskStatus=='success' && !log.isTicketCreated && log.enableTicketCreation" uib-tooltip="Ignore"
                                    ng-click="vm.enableTicketCreation(log)" class="btn btn-default btn-sm">
                                    <span class="fa fa-times-circle fa-2x text-danger"></span>
                                </button>
                            </div>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="text-center">
            <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
            <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page"
                ng-change="vm.loadPage(vm.page)" items-per-page="vm.itemsPerPage"></uib-pagination>
        </div>


    </div>
</div>