<div class="fbibox">
    <div class="fbibox-content">
        <div class="table-responsive">
            <div class="row">
            <div class="col-md-4">
                <h4 data-translate="reportManagement.filter.filterByDate.title">Filter by date</h4>
                <p class="input-group">
                    <span class="input-group-addon" data-translate="reportManagement.filter.filterByDate.from">from</span>
                    <input type="date" class="input-sm form-control" name="start" ng-model="vm.fromDate"/>
                    <span class="input-group-addon" data-translate="reportManagement.filter.filterByDate.to">to</span>
                    <input type="date" class="input-sm form-control" name="end" ng-model="vm.toDate"/>
                </p>
            </div>
            <div class="col-md-3">
                <h4 data-translate="reportManagement.filter.filterByReportName">Filter by date</h4>
                    <input type="text" class="input-sm form-control" name="reportName" ng-model="vm.reportName"/>
            </div>
            <div ng-if="vm.isAdmin" class="col-md-3">
                <h4 data-translate="reportManagement.filter.filterByUser">Filter by User</h4>
                    <ui-select ng-keyup="vm.searchUser($event,$select.search)" id="field_user" name="userName" ng-model="vm.userName" required>
                    <ui-select-match placeholder="Select User">{{$select.selected.login}}</ui-select-match>
                    <ui-select-choices repeat="user in vm.users">
                        <div ng-bind="user.login "></div>
                    </ui-select-choices>
                </ui-select>
                    <!-- <input type="text" class="input-sm form-control" name="userName" ng-model="vm.userName"/> -->
            </div>
            <div class="col-md-2">
                <button type="button" style="margin-top: 27px;" ng-click="vm.serchReports()" class="btn btn-info">Search</button>
            </div>
            </div>
            <table class="table table-striped flair-table-v1">
                <thead>
                    <tr>
                        <th>
                            <span data-translate="reportManagement.no"></span>
                        </th>
                        <th>
                            <span data-translate="reportManagement.reportName"></span>
                        </th>
                        <th>
                            <span data-translate="reportManagement.dashboardName"></span>
                        </th>
                        <th>
                            <span data-translate="reportManagement.subject"></span>
                        </th>
                        <th>
                            <span data-translate="reportManagement.run"></span>
                        </th>
                        <th>
                            <span data-translate="reportManagement.createdBy"></span>
                        </th>
                         <th>
                            <span data-translate="reportManagement.action"></span>
                        </th> 
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="report in vm.reports"> 
                        <td>{{$index+1+ (vm.page-1) * vm.itemsPerPage}}</td>
                        <td>{{report.report.report_name}}</td>
                        <td>{{report.report.dashboard_name}}</td>
                        <td>{{report.report.subject}}</td>
                        <td>{{report.schedule.cron_exp | CronParser}}</td>
                        <td>{{report.report.userid}}</td>
                        <td>
                            <div class="btn-group flex-btn-group-container">
                                <button uib-tooltip="Run Now" ng-click="vm.executeNow(report.report_line_item.visualizationid)" class="btn btn-default btn-sm">
                                    <span class="fa fa-bolt fa-2x"></span>
                                </button>
                                <button uib-tooltip="Go to View" ng-click="vm.goToBuildPage(report.report.build_url)" class="btn btn-default btn-sm">
                                    <span class="fa fa-eye fa-2x"></span>
                                </button>
                                <button type="submit" uib-tooltip="Logs" ui-sref="report-management-log({visualizationid:report.report_line_item.visualizationid})" class="btn btn-default btn-sm">
                                    <span class="fa fa-history fa-2x"></span>
                                </button>
                                <button uib-tooltip="Edit" ng-click="vm.updateReport(report.report_line_item.visualizationid)" class="btn btn-default btn-sm">
                                    <span class="fa fa-edit edit-icon fa-2x"></span>
                                </button>
                                <button uib-tooltip="Delete" ng-click="vm.deleteReport(report.report_line_item.visualizationid)" class="btn btn-default btn-sm">
                                    <span class="fa fa-trash delete-icon fa-2x"></span>
                                </button>
                            </div>
                        </td>  
                    </tr>
                </tbody>
            </table>
        </div>

      <div class="text-center">
            <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
            <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.loadPage(vm.page)" items-per-page="vm.itemsPerPage"></uib-pagination>
        </div>
    </div>
</div>