<div class="viz-properties">

    <div class="property-header">
        <div class="property-title">Body properties</div>
    </div>
    <div class="p-xxs">
        <div class="form-inline" style="margin-bottom: 5px;">
            <label class="control-label flair-model-pad pull-left">Border</label>
            <input style="width: 9vw;" type="text" class="form-control pull-left" ng-model="vm.visual.bodyProperties.border">
        </div>
        <div class="form-inline">
            <label class="control-label flair-model-pad pull-left">Opacity</label>
            <rzslider rz-slider-model="vm.slider.value" rz-slider-options="vm.slider.options"></rzslider>
            <input type="hidden" class="form-control pull-left" ng-model="vm.visual.bodyProperties.opacity">

        </div>

        <div class="row"  style="margin-top: 35px;">
            <div class="control-label-color-picker flair-model-pad pull-left">Background Color</div>
            <div class="color-picker-container">
                <div md-color-picker ng-model="vm.visual.bodyProperties.backgroundColor"></div>
            </div>
        </div>
    </div>
</div>
