<div class="viz-properties">
  <div class="property-header">
      <div class="property-title">Chart Properties</div>
  </div>
  <property-component features="vm.features" alignment='horizontal' propstype="chart" 
                      input-classes="form-control pull-left"
                      form-class="form-inline"
                      label-classes="control-label flair-model-pad pull-left"
                      ng-repeat="property in vm.visual.properties | orderBy: 'order'"
                      property="property" />
</div>
