<div style="padding: 0 6px 0 6px">
    <div class="btn-group btn-group-sm"
         data-toggle="buttons"
         role="group"
         aria-label="Date range">
        <button type="button"
                class="btn btn-default"
                ng-class="{'active':vm.dateRangeTab == 0}"
                ng-click="vm.onDateRangeClick(0)">Day</button>
        <button type="button"
                class="btn btn-default"
                ng-class="{'active':vm.dateRangeTab == 1}"
                ng-click="vm.onDateRangeClick(1)">Range</button>
        <button type="button"
                class="btn btn-default"
                ng-class="{'active':vm.dateRangeTab == 2}"
                ng-click="vm.onDateRangeClick(2)">Dynamic</button>
    </div>
    <div class="form-group"
         ng-if="vm.dateRangeTab === 0">
        <label class="control-label" for="startDate1">Day:</label>
        <div class="input-group">
          <md-datepicker class="md-datepicker-flair" id="startDate1" ng-model="vm.dimension.selected" ng-change="vm.onInputChange()" md-placeholder="Enter date"></md-datepicker>
        </div>
    </div>
    <div class="form-group"
         ng-if="vm.dateRangeTab === 1">
        <label class="control-label" for="startDate">Date:</label>
        <div class="input-group">
          <md-datepicker class="md-datepicker-flair" id="startDate" ng-model="vm.dimension.selected" ng-change="vm.onInputChange()" md-placeholder="Start date"></md-datepicker>
        </div>
        <label class="control-label" for="endDate">End date:</label>
        <div class="input-group">
          <md-datepicker class="md-datepicker-flair" id="endDate" ng-model="vm.dimension.selected2" ng-change="vm.onInputChange()" md-placeholder="End Date"></md-datepicker>
        </div>
    </div>
    <div ng-if="vm.dateRangeTab === 2">
        <div class="form-group"
             style="padding: 10px 0 0 0">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle"
                        type="button"
                        id="dateRangeDynamic"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="true">
                    {{vm.currentDynamicDateRangeConfig.title || 'Choose period'}}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu"
                    aria-labelledby="dateRangeDynamic">
                    <li ng-repeat="config in vm.dynamicDateRangeConfig">
                        <a href="javascript:;"
                           ng-click="vm.onDynamicDateRangeChanged(config)">
                           {{config.title}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="form-group"
            ng-if="vm.currentDynamicDateRangeConfig.isCustom">
            <label for="customDateRange">Days:</label>
            <input type="text"
                   class="form-control"
                   id="customDateRange"
                   ng-change="vm.onCustomDynamicDateRangeChange()"
                   ng-model="vm.customDynamicDateRange">
        </div>
    </div>
</div>
