<form class="form-inline pin-filter" >
    <div class="form-group" ng-repeat="dimension in vm.dimensions">
        <div>
            <label>{{dimension.name}}:</label>
            <div class="dimensionFilter" ng-dropdown-multiselect="" options="vm.list[dimension.name]" selected-model="vm.selectedFilter[dimension.name]"
                checkboxes="true" selectedToTop="true" extra-settings="vm.setting1"></div>
        </div>

    </div>
    <div class="btn btn-primary filter" ng-click="vm.applyFilter()">
        <i class="fa fa-search" aria-hidden="true"></i> Filter
    </div>
</form>