<div class="flair-scroll side-widgets overflow resource-nav">
    <div class="panel panel-default filter-area">
        <div class="panel-heading">
            <div class="panel-title">{{vm.type}} 
                 <i ng-show="vm.type=='Filters'"  ng-click="vm.toggalFullScreenMode()" class="toggalFullScreenMode fa fa-window-minimize" aria-hidden="true"></i>
            </div>
            
        </div>
        <!-- added condition for time being ng-if="vm.tab!='widgets'" -->
        <div class="dimensions-container flair-scroll-gray properties">
            <div class="filter-item filter-separator-container" ng-if="vm.tab!='widgets'">
                <ui-select ng-model="vm.separator" class="separator-select">
                    <ui-select-match placeholder="Select Separator...">{{$select.selected.displayName}}
                    </ui-select-match>
                    <ui-select-choices
                        repeat="separator in vm.separators | filter: $select.search track by separator.displayName">
                        <div ng-bind="separator.displayName"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <br ng-if="vm.tab!='widgets'"/>
            <div class="dimensionList">
                <div ng-repeat="dimension in vm.dimensions  | orderBy: ['dateFilter','name']" class="filter-item">
                    <filter-element-grpc-component iframes="vm.iframes" ng-if="$root.vizualizationServiceMode == 'grpc'"
                        dimensions="vm.dimensions" dimension="dimension" view="vm.view" tab="vm.tab" list="{}"  separator="vm.separator"></filter-element-grpc-component>
                    <filter-element-component ng-if="$root.vizualizationServiceMode == 'http'" dimensions="vm.dimensions"
                        dimension="dimension" view="vm.view"></filter-element-component>
                </div>
            </div>
            
        </div>

        <div class="filter-button">
            <div class="btn btn-primary" ng-click="vm.onFilterClick()">
                <i class="fa fa-search" aria-hidden="true"></i> Filter
            </div>
            <div class="btn btn-default" ng-click="vm.onClearClick()">
                Clear Filters
            </div>
        </div>
    </div>
</div>
