<form class="form-inline pin-filter">
    <div class="form-group" ng-repeat="dimension in vm.pinedDimensions">
        <div class="filter-section">
            <div ng-if="!vm.canDisplayDateRangeControls(dimension)">
                <!-- <label class="dimension-label">{{dimension.name}}</label>
                <div class="dimensionFilter" ng-dropdown-multiselect="" options="vm.list[dimension.name]"
                    selected-model="vm.selectedFilter[dimension.name]" checkboxes="true" selectedToTop="true"
                    extra-settings="vm.settingStyle"></div> -->

                <div class="dropdown">
                    <label class="dimension-label dropdown-toggle" type="button" data-toggle="collapse"
                        data-target="#collapse-{{dimension.id}}" aria-expanded="false"
                        aria-controls="collapse-{{dimension.id}}">
                        {{dimension.name}}
                        <span class="caret"></span>
                    </label>
                    <div class="dropdown-menu header-date-filter" id="collapse-{{dimension.id}}" style="width: 17vw;">
                        <input class="form-control input-sm dimensionFilter" type="text"
                            placeholder="Search for {{dimension.name}}" ng-model="vm.searchText"
                            ng-change="vm.load(vm.searchText,dimension)" />
                        <div class="dimensionFilter" ng-dropdown-multiselect="" options="vm.list[dimension.name]"
                            selected-model="vm.selectedFilter[dimension.name]" checkboxes="true" selectedToTop="true"
                            extra-settings="vm.settingStyle"  events="{ onItemSelect: vm.onItemSelect }"></div>
                    </div>
                </div>
            </div>
            <div ng-if="vm.canDisplayDateRangeControls(dimension)">
                <div class="dropdown">
                    <label class="dimension-label dropdown-toggle" type="button" data-toggle="collapse"
                        data-target="#collapse-{{dimension.id}}" aria-expanded="false"
                        aria-controls="collapse-{{dimension.id}}">
                        {{dimension.name}}
                        <span class="caret"></span>
                    </label>
                    <div class="dropdown-menu header-date-filter" id="collapse-{{dimension.id}}" style="width: 17vw;">
                        <filter-date-range dimension="dimension" reload="vm.dateRangeReload"
                            on-date-change="vm.onDateChange(startDate, endDate, metadata,dimension)">
                        </filter-date-range>
                        <div class="date-range-component"
                             ng-if="vm.canDisplayGroupFilter(dimension)">
                            <div type="tab"
                                 class="date-range-btn"
                                 ng-class="{'date-range-btn-active':vm.groupFilter == 'DAY'}"
                                 ng-click="vm.onGroupFilterClick('DAY')">
                                <p class="flex-text">Day</p>
                            </div>
                            <div type="tab"
                                 class="date-range-btn"
                                 ng-class="{'date-range-btn-active':vm.groupFilter == 'WEEK'}"
                                 ng-click="vm.onGroupFilterClick('WEEK')">
                                <p class="flex-text">Week</p>
                            </div>
                            <div type="tab"
                                 class="date-range-btn"
                                 ng-class="{'date-range-btn-active':vm.groupFilter == 'MONTH'}"
                                 ng-click="vm.onGroupFilterClick('MONTH')">
                                <p class="flex-text">Month</p>
                            </div>
                            <div type="tab"
                                 class="date-range-btn"
                                 ng-class="{'date-range-btn-active':vm.groupFilter == 'QUARTER'}"
                                 ng-click="vm.onGroupFilterClick('QUARTER')">
                                <p class="flex-text">Quarter</p>
                            </div>
                            <div type="tab"
                                 class="date-range-btn"
                                 ng-class="{'date-range-btn-active':vm.groupFilter == 'YEAR'}"
                                 ng-click="vm.onGroupFilterClick('YEAR')">
                                <p class="flex-text">Year</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="btn btn-primary filter" ng-click="vm.applyFilter()">
        <i class="fa fa-search" aria-hidden="true"></i>
    </div>
</form>