<div class="date-range-component">
    <div>
        <div type="tab"
                class="date-range-btn"
                ng-class="{'date-range-btn-active':vm.dimension.metadata.dateRangeTab == 0}"
                ng-click="vm.onDateRangeClick(0)">
                <p class="flex-text">Day</p>
        </div>
        <div type="tab"
                class="date-range-btn"
                ng-class="{'date-range-btn-active':vm.dimension.metadata.dateRangeTab == 1}"
                ng-click="vm.onDateRangeClick(1)">
                <p class="flex-text">Range</p>
        </div>
        <div type="tab"
                class="date-range-btn"
                ng-class="{'date-range-btn-active':vm.dimension.metadata.dateRangeTab == 2}"
                ng-click="vm.onDateRangeClick(2)">
                <p class="flex-text">Dynamic</p>
        </div>
    </div>
    <div 
         ng-if="vm.dimension.metadata.dateRangeTab === 0">
    
        <div class="input-group">
          <md-datepicker class="md-datepicker-flair" id="startDate1"
                         ng-model="vm.currentDimension.selected"
                         ng-change="vm.onInputChange()"
                         md-placeholder="Enter date"></md-datepicker>
        </div>
    </div>
    <div 
         ng-if="vm.dimension.metadata.dateRangeTab === 1">
        <div class="input-group">
          <md-datepicker class="md-datepicker-flair" id="startDate"
                         ng-model="vm.currentDimension.selected"
                         ng-change="vm.onInputChange()"
                         md-placeholder="Start date"></md-datepicker>
        </div>
        <div class="input-group">
          <md-datepicker class="md-datepicker-flair" id="endDate"
                         ng-model="vm.currentDimension.selected2"
                         ng-change="vm.onInputChange()"
                         md-placeholder="End Date"></md-datepicker>
        </div>
    </div>
    <div ng-if="vm.dimension.metadata.dateRangeTab === 2">
        <div class="dynamic-date-range-select">
            <select ng-model="vm.dimension.metadata.currentDynamicDateRangeConfig"
                    ng-change="vm.onInputChange()"
                    class="form-control"
                    ng-options="config.title for config in vm.dynamicDateRangeConfig"></select>
        </div>
        <div 
            ng-if="vm.dimension.metadata.currentDynamicDateRangeConfig.isCustom">
            <input type="text"
                   class="form-control"
                   id="customDateRange"
                   ng-change="vm.onCustomDynamicDateRangeChange()"
                   ng-model="vm.dimension.metadata.customDynamicDateRange">
        </div>
    </div>
</div>