<div class="dropdown-options-v2 menu-container">
    <a ng-if="vm.disabled" class="dropdown-toggle" type="button" id="dropdownMainMenu"  aria-haspopup="true" aria-expanded="true">
        <div class="menu">
            <svg class="more">
                <use xlink:href="#more" />
            </svg>
        </div>
    </a>

    <a ng-if="!vm.disabled" class="dropdown-toggle" type="button" id="dropdownMainMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <div class="menu">
            <svg class="more">
                <use xlink:href="#more" />
            </svg>
        </div>
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMainMenu">
        <div class=" user-holder">
                <svg>
                <use xlink:href="#more" />
                </svg>
                <p class="user-name">{{vm.account.firstName}}</p>
        </div>
        <div class="line-horis"></div>            
        <div class="dropdown-sub-menu">
            <a ui-sref="home" title="Home">
                <svg class="nav-flaticon-home">
                    <use xlink:href="#home" />
                </svg>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span>Home</span>
            </a>
        </div>
        <div class="dropdown-sub-menu">
            <a ui-sref="account">
                <svg class="icon">
                    <use xlink:href="#menu-setting" />
                </svg>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span>Account</span>
            </a>
        </div>
        <div class="dropdown-sub-menu">
            <a href="" ng-click="vm.logout()" id="logout" >
                <svg class="logout-flair">
                    <use xlink:href="#menu-logout" />
                </svg>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span>Sign out</span>
            </a>
        </div>
    </div>
</div>