<form name="deleteForm" ng-submit="vm.confirmRelease(vm.view.id)">
    <div class="modal-header">
        <div class="header-text">
            Release request confirm
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <p>Are you sure you want to request a new release for this view <strong>{{vm.view.viewName}}</strong> ?</p>

        <div class="form-group">
            <label class="control-label">
                Release comment
            </label>
            <textarea class="form-control" ng-model="vm.releaseComment" ></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;
            <span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-primary">
            <span>Request Release</span>
        </button>
    </div>
</form>
