<div class="inmodal in modal-content common-create-popup">
    <form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>
        <div class="modal-header">
            <svg class="common-edit-icon">
              <use xlink:href="#edit-dashboard" />
            </svg>
            <div class="header-text" data-translate="flairbiApp.datasourceConstraint.home.createOrEditLabel">Create or edit a Datasource Constraint</div>
            <svg class=" common-cancle-icon" data-dismiss="modal" ng-click="vm.clear()">
              <use xlink:href="#cancle" />
            </svg>
        </div>
        <div class="modal-body">
            <jhi-alert-error></jhi-alert-error>
            <div class="form-group" ng-show="vm.datasourceConstraint.id">
                <label for="id" data-translate="global.field.id">ID</label>
                <input type="text" class="form-control" id="id" name="id" ng-model="vm.datasourceConstraint.id" readonly />
            </div>


            <div class="form-group">
                <label data-translate="flairbiApp.datasourceConstraint.user" for="field_user">User</label>
                <ui-select ng-keyup="vm.searchUser($event,$select.search)" id="field_user" name="user" ng-model="vm.datasourceConstraint.user" required>
                    <ui-select-match placeholder="{{ 'flairbiApp.datasourceConstraint.selectUser' | translate }}">{{$select.selected.login}}</ui-select-match>
                    <ui-select-choices repeat="user in vm.users">
                        <div ng-bind="user.login "></div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div ng-show="editForm.user.$invalid">
                <p class="help-block" ng-show="editForm.user.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
            <div class="form-group">
                <label data-translate="flairbiApp.datasourceConstraint.datasources" for="field_datasources">Datasources</label>
                <ui-select ng-keyup="vm.search($event,$select.search)" id="field_datasources" name="datasources" ng-model="vm.datasourceConstraint.datasource" required ng-change="vm.datasourceChange()">
                    <ui-select-match placeholder="{{ 'flairbiApp.datasourceConstraint.selectDatasource' | translate }}">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="datasource in vm.datasources">
                        <div ng-bind="datasource.name "></div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div ng-show="editForm.datasources.$invalid">
                <p class="help-block" ng-show="editForm.datasources.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
            <div class="form-group">
                <label class="control-label">Constraints</label>
                <div ng-repeat="constraint in vm.datasourceConstraint.constraintDefinition.featureConstraints" class="row m-b-md constraint-field">
                    <div class="col-md-3">
                        <ui-select required ng-model="constraint['@type']" theme="bootstrap" ng-disabled="!vm.datasourceConstraint.datasource">
                            <ui-select-match placeholder="Select constraint type">
                                {{constraint['@type']}}
                            </ui-select-match>
                            <ui-select-choices repeat="type as type in vm.constraintTypes">
                                {{type}}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="col-md-3">
                        <ui-select required ng-model="constraint.featureName" theme="bootstrap" ng-disabled="!vm.datasourceConstraint.datasource">
                            <ui-select-match placeholder="Select Feature" allow-clear="true">
                                {{constraint.featureName}}
                            </ui-select-match>
                            <ui-select-choices repeat="feature.name as feature in vm.features">
                                {{feature.name}}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="col-md-4">
                        <input required type="text" placeholder="values delimited with ','" class="form-control" ng-change="vm.createArray(constraint)" ng-model="constraint.stringValues" ng-disabled="!vm.datasourceConstraint.datasource">
                    </div>
                    <div class="col-md-2">
                        <div ng-disabled="!vm.datasourceConstraint.datasource" ng-show="$index === 0" class="user-data-constraint-operation-button add-button icon" ng-click="vm.addConstraint()"><i class="fa fa-plus-circle fa-2x" aria-hidden="true" /> </div>
                        <div ng-disabled="!vm.datasourceConstraint.datasource" ng-show="$index !== 0" class="user-data-constraint-operation-button remove-button icon" ng-click="vm.removeConstraint(constraint)"><i class="fa fa-remove fa-2x" aria-hidden="true" /> </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
                <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
            </button>
            <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
                <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
            </button>
        </div>
    </form>
</div>