<div class="row ng-scope">
    <nav class="navbar navbar-static-top" role="navigation">
        <div class="navbar-header">
            <div class="row home-row">
                <a class="common ng-class:{'flair-logo':vm.clientLogo,'logo':!vm.clientLogo}" ui-sref="home">
                    <img src="content/svgs/flairbi-logo-no-text.svg" alt="flair bi">
                </a>
                <a ng-if="vm.clientLogo" uib-tooltip={{vm.clientLogo.name}} tooltip-placement="bottom" class="common client-logo" ui-sref="home">
                    <img ng-src={{vm.clientLogo.url}} alt={{vm.clientLogo.name}}>
                </a>
                <div class="col-md-3 home-header-search-box ng-class:{'home-header-search-box': vm.clientLogo,'home-header-search-box1':!vm.clientLogo}">
                    <form role="form" ng-submit="vm.search()">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button type="submit" class="btn">
                                    <svg class="topnav-flaticon-search">
                                        <use xlink:href="#search" />
                                    </svg>
                                </button>
                            </span>
                            <input required ng-model="vm.searchCriteria" type="search" class="form-control search-site"
                                placeholder="Search views and dashboards">
                            <span class="input-group-btn">
                                <button ng-click="vm.reset()" type="reset" class="btn" ng-show="vm.showSearchCancel()">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </button>
                            </span>
                        </div>
                    </form>
                </div>
                <div class="search-right-icon hidden-xs" ng-click="vm.floatSearch()">
                    <svg class="topnav-flaticon-search">
                        <use xlink:href="#search" />
                    </svg>
                </div>
            </div>
        </div>
        <menu-component></menu-component>
    </nav>
</div>