<div class="table-responsive tile-area-table dashboardsTable" ng-show="vm.toggleTables['tile-1']">
    <div class="search-box inner-addon left-addon b-b-xs">
        <i class="glyphicon glyphicon-search"></i>
        <input type="text" ng-model="searchDashboard" class="form-control" placeholder="Search Dashboard..." />
    </div>
    <br/>
    <table class="table table-striped table-bordered flair-table-v1">
        <thead>
            <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                <th jh-sort-by="id">
                    <span>ID</span>
                    <span class="fa fa-sort"></span>
                </th>
                <th jh-sort-by="dashboardName">
                    <span>Name</span>
                    <span class="fa fa-sort"></span>
                </th>
                <th jh-sort-by="category">
                    <span>Category</span>
                    <span class="fa fa-sort"></span>
                </th>
                <th jh-sort-by="description">
                    <span>Description</span>
                    <span class="fa fa-sort"></span>
                </th>
                <th>
                    <span>Datasource</span>
                </th>
                <th>
                    <span>Published</span>
                </th>
                <th jh-sort-by="lastModifiedDate">
                    <span>Last Modified Date</span>
                    <span class="fa fa-sort"></span>
                </th>
                <th><span>Actions</span></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="dashboard in vm.pagedItems[vm.currentPage] | filter:vm.filterFn(vm.dashboards,searchDashboard,'dashboardName') track by $index">
                <td>
                    <a ui-sref="dashboards-overview({id:dashboard.id})">{{dashboard.id}}</a>
                </td>
                <td>{{dashboard.dashboardName}}</td>
                <td>{{dashboard.category}}</td>
                <td>{{dashboard.description}}</td>
                <td>{{dashboard.dashboardDatasource.name}}</td>
                <td>{{dashboard.published}}</td>
                <td>{{dashboard.lastModifiedDate | date:'dd/MM/yy HH:mm'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit" ui-sref="dashboards-overview({id:dashboard.id})" class="btn btn-default btn-sm">
                                        <span class="fa fa-share-square-o view-icon fa-2x"></span>
                            </button> &nbsp;
                        <button type="submit" ui-sref="dashboards-detail({id:dashboard.id})" class="btn btn-default btn-sm">
                                        <span class="fa fa-eye view-icon fa-2x"></span>
                                    </button> &nbsp;
                        <button type="submit" ui-sref="dashboards-detail.edit({id:dashboard.id})" class="btn btn-default btn-sm">
                                        <span class="fa fa-edit edit-icon fa-2x"></span>
                            </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="text-center" ng-show="vm.dashboards.length > 0">
        <ul class="pagination">
            <li ng-class="{disabled: vm.currentPage == 0}">
                <a href="javascript:;" ng-click="vm.prevPage()"><i class="fa fa-angle-double-left"></i></a>
            </li>
            <li ng-repeat="n in vm.range(vm.pagedItems.length)" ng-class="{active: n == vm.currentPage}" ng-click="vm.setPage(n)">
                <a href="javascript:;" ng-bind="n+1">1</a>
            </li>
            <li ng-class="{disabled: vm.currentPage == vm.pagedItems.length - 1}">
                <a href="javascript:;" ng-click="vm.nextPage()"><i class="fa fa-angle-double-right"></i></a>
            </li>
        </ul>
    </div>
</div>


<div class="table-responsive tile-area-table viewsTable" ng-show="vm.toggleTables['tile-2']">
    <div class="search-box inner-addon left-addon b-b-xs">
        <i class="glyphicon glyphicon-search"></i>
        <input type="text" ng-model="searchView" class="form-control" placeholder="Search View..." />
    </div>
    <br/>
    <table class="table table-striped table-bordered flair-table-v1">
        <thead>
            <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                <th jh-sort-by="id">
                    <span>ID</span>
                    <span class="fa fa-sort"></span>
                </th>
                <th jh-sort-by="viewName">
                    <span>View Name</span>
                    <span class="fa fa-sort"></span>
                </th>
                <th jh-sort-by="description">
                    <span>Description</span>
                    <span class="fa fa-sort"></span>
                </th>
                <th>
                    <span>Dashboard</span>
                </th>
                <th>
                    <span>Published</span>
                </th>
                <th jh-sort-by="lastModifiedDate">
                    <span>Last Modified Date</span>
                    <span class="fa fa-sort"></span>
                </th>
                <th><span>Actions</span></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="view in vm.pagedItems[vm.currentPage] | filter:vm.filterFn(vm.views,searchView,'viewName') track by $index">
                <td>
                    <a ui-sref="dashboards-overview({id:dashboard.id})">{{view.id}}</a>
                </td>
                <td>{{view.viewName}}</td>
                <td>{{view.description}}</td>
                <td>{{view.viewDashboard.dashboardName}}</td>
                <td>{{view.published}}</td>
                <td>{{view.lastModifiedDate | date:'dd/MM/yy HH:mm'}}</td>
                <td class="text-right button-centered">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit" ui-sref="flair-bi-build({id:view.id, dashboardId:view.viewDashboard.id})" class="btn btn-default btn-sm">
                                        <span class="fa fa-gavel build-icon fa-2x"></span>
                                    </button> &nbsp;
                        <button type="submit" ui-sref="dashboards-overview.view-detail({id: view.viewDashboard.id,viewId: view.id})" class="btn btn-default btn-sm">
                                        <span class="fa fa-eye view-icon fa-2x"></span>
                                    </button> &nbsp;
                        <button type="submit" ui-sref="dashboards-overview.view-detail.edit({id: view.viewDashboard.id,viewId: view.id})" class="btn btn-default btn-sm">
                                        <span class="fa fa-edit edit-icon fa-2x"></span>
                            </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="text-center" ng-show="vm.views.length > 0">
        <ul class="pagination">
            <li ng-class="{disabled: vm.currentPage == 0}">
                <a href="javascript:;" ng-click="vm.prevPage()"><i class="fa fa-angle-double-left"></i></a>
            </li>
            <li ng-repeat="n in vm.range(vm.pagedItems.length)" ng-class="{active: n == vm.currentPage}" ng-click="vm.setPage(n)">
                <a href="javascript:;" ng-bind="n+1">1</a>
            </li>
            <li ng-class="{disabled: vm.currentPage == vm.pagedItems.length - 1}">
                <a href="javascript:;" ng-click="vm.nextPage()"><i class="fa fa-angle-double-right"></i></a>
            </li>
        </ul>
    </div>
</div>

<div class="table-responsive tile-area-table dataSourceTable" ng-show="vm.toggleTables['tile-3']">
    <div class="search-box inner-addon left-addon b-b-xs">
        <i class="glyphicon glyphicon-search"></i>
        <input type="text" ng-model="searchDataSource" class="form-control" placeholder="Search DataSource..." />
        <button type="submit" ui-sref="connection.new" class="btn btn-default btn-sm new-datasource" ng-if="vm.isAdmin">
                <span uib-tooltip="New DataSource" tooltip-placement="left" class="fa fa-edit edit-icon fa-2x"></span>
        </button>
    </div>
    <br/>
    <table class="table table-striped flair-table-v1">
        <thead>
            <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                <th jh-sort-by="id">
                    <span>ID</span>
                    <span class="fa fa-sort"></span>
                </th>
                <th jh-sort-by="name">
                    <span>Datasource Name</span>
                    <span class="fa fa-sort"></span>
                </th>
                <th jh-sort-by="connectionName">
                    <span>Connection Name</span>
                    <span class="fa fa-sort"></span>
                </th>
                <th jh-sort-by="queryPath">
                    <span>Query Path</span>
                    <span class="fa fa-sort"></span>
                </th>
                <th jh-sort-by="actions">
                    <span>Actions</span>
                    <span class="fa fa-sort"></span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="datasource in vm.pagedItems[vm.currentPage] | filter:vm.filterFn(vm.datasources,searchDataSource,'name') track by $index">
                <td>
                    <a ui-sref="service-detail({id:service.id})">{{datasource.id}}</a>
                </td>
                <td>{{datasource.name}}</td>
                <td>{{datasource.connectionName}}</td>
                <td>{{datasource.queryPath}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit" ui-sref="connection-detail({connectionLinkId: datasource.connectionName})"
                                class="btn btn-default btn-sm">
                            <span class="fa fa-eye view-icon fa-2x"></span>
                        </button>
                        &nbsp;
                        <button type="submit" ui-sref="connection.edit({connectionId:datasource.connectionId})" class="btn btn-default btn-sm">
                            <span class="fa fa-edit edit-icon fa-2x"></span>
                        </button>
                        &nbsp;
                        <button type="submit" ui-sref="conn-datasource-delete({connectionLinkId:datasource.connectionName,datasourceId:datasource.id})" class="btn btn-default btn-sm">
                            <span class="fa fa-trash delete-icon fa-2x"></span>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="text-center" ng-show="vm.datasources.length > 0">
        <ul class="pagination">
            <li ng-class="{disabled: vm.currentPage == 0}">
                <a href="javascript:;" ng-click="vm.prevPage()"><i class="fa fa-angle-double-left"></i></a>
            </li>
            <li ng-repeat="n in vm.range(vm.pagedItems.length)" ng-class="{active: n == vm.currentPage}" ng-click="vm.setPage(n)">
                <a href="javascript:;" ng-bind="n+1">1</a>
            </li>
            <li ng-class="{disabled: vm.currentPage == vm.pagedItems.length - 1}">
                <a href="javascript:;" ng-click="vm.nextPage()"><i class="fa fa-angle-double-right"></i></a>
            </li>
        </ul>
    </div>
</div>

<div class="table-responsive tile-area-table flairInsightsTable" ng-show="vm.toggleTables['tile-4']">
    <div class="search-box inner-addon left-addon b-b-xs">
        <i class="glyphicon glyphicon-search"></i>
        <input type="text" ng-model="vm.reportName" name="reportName" class="form-control" placeholder="Enter Report..." />
        <button type="button" ng-click="vm.serchReports()" class="btn btn-default btn-sm  search-btn">Search</button>
    </div>
    <br/>
    <table class="table table-striped flair-table-v1">
        <thead>
            <tr>
                <th>
                    <span data-translate="reportManagement.no"></span>
                </th>
                <th>
                    <span data-translate="reportManagement.reportName"></span>
                </th>
                <th>
                    <span data-translate="reportManagement.dashboardName"></span>
                </th>
                <th>
                    <span data-translate="reportManagement.isThresholdAlert"></span>
                </th>
                <th>
                    <span data-translate="reportManagement.run"></span>
                </th>
                <th>
                    <span data-translate="reportManagement.createdBy"></span>
                </th>
                 <th>
                    <span data-translate="reportManagement.action"></span>
                </th> 
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="report in vm.reports"> 
                <td>{{$index+1}}</td>
                <td>{{report.report.title_name}}</td>
                <td>{{report.report.dashboard_name}}</td>
                <td>{{report.report.thresholdAlert?'Yes':'No'}}</td>
                <td>{{report.schedule.cron_exp | CronParser}}</td>
                <td>{{report.report.userid}}</td>
                <td>
                    <div class="btn-group flex-btn-group-container report-actions">
                        <button uib-tooltip="Run Now" ng-click="vm.executeNow(report.report_line_item.visualizationid)" class="btn btn-default btn-sm">
                            <svg class="execute-now">
                               <use xlink:href="#execute-now"></use>
                            </svg>
                        </button>
                        <button uib-tooltip="Go to View" ng-click="vm.goToBuildPage(report.report.build_url)" class="btn btn-default btn-sm">
                            <span class="fa fa-eye views-icon fa-2x"></span>
                        </button>
                        <button type="submit" uib-tooltip="Logs" ui-sref="report-management-log({visualizationid:report.report_line_item.visualizationid})" class="btn btn-default btn-sm">
                            <svg >
                               <use xlink:href="#admin-logs"></use>
                            </svg>
                        </button>
                        <button uib-tooltip="Edit" ng-click="vm.updateReport(report.report_line_item.visualizationid)" class="btn btn-default btn-sm">
                            <span class="fa fa-edit edit-icon fa-2x"></span>
                        </button>
                    </div>
                </td>  
            </tr>
        </tbody>
    </table>
    <div class="text-center" ng-show="vm.reports.length > 0">
        <ul class="pagination">
            <li ng-class="{disabled: vm.currentPage == 0}">
                <a href="javascript:;" ng-click="vm.prevPage()"><i class="fa fa-angle-double-left"></i></a>
            </li>
            <li ng-repeat="n in vm.range(vm.pagedItems.length)" ng-class="{active: n == vm.currentPage}" ng-click="vm.setPage(n)">
                <a href="javascript:;" ng-bind="n+1">1</a>
            </li>
            <li ng-class="{disabled: vm.currentPage == vm.pagedItems.length - 1}">
                <a href="javascript:;" ng-click="vm.nextPage()"><i class="fa fa-angle-double-right"></i></a>
            </li>
        </ul>
    </div>
</div>

<div class="table-responsive tile-area-table recentCreatedBookmarkTable" ng-show="vm.toggleTables['tile-5']">
    <div class="search-box inner-addon left-addon b-b-xs">
        <i class="glyphicon glyphicon-search"></i>
        <input type="text" ng-model="searchBoomark" class="form-control" placeholder="Search Bookmark..." />
    </div>
    <br/>
    <table class="table table-striped table-bordered flair-table-v1">
        <thead>
            <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                <th jh-sort-by="featureBookmark.id">
                    <span>ID</span>
                    <span class="fa fa-sort"></span>
                </th>
                <th jh-sort-by="featureBookmark.name">
                    <span>Bookmark Name</span>
                    <span class="fa fa-sort"></span>
                </th>
                <th jh-sort-by="view.viewName">
                    <span>View Name</span>
                    <span class="fa fa-sort"></span>
                </th>
                <th jh-sort-by="view.viewDashboard.dashboardName">
                    <span>Dashboard</span>
                </th>
                <th><span>Actions</span></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="bookmark in vm.pagedItems[vm.currentPage] | filter:vm.filterBookmarks(vm.bookmarkWatches,searchBoomark,'name') track by $index">
                <td>
                    {{bookmark.featureBookmark.id}}
                </td>
                <td>{{bookmark.featureBookmark.name}}</td>
                <td>{{bookmark.view.viewName}}</td>
                <td>{{bookmark.view.viewDashboard.dashboardName}}</td>
                <td class="text-right button-centered">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit" ng-click="vm.build(bookmark.view.id,bookmark.view.viewDashboard.id,bookmark.featureBookmark)" class="btn btn-default btn-sm">
                            <span class="fa fa-gavel build-icon fa-2x"></span>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="text-center" ng-show="vm.bookmarkWatches.length > 0">
        <ul class="pagination">
            <li ng-class="{disabled: vm.currentPage == 0}">
                <a href="javascript:;" ng-click="vm.prevPage()"><i class="fa fa-angle-double-left"></i></a>
            </li>
            <li ng-repeat="n in vm.range(vm.pagedItems.length)" ng-class="{active: n == vm.currentPage}" ng-click="vm.setPage(n)">
                <a href="javascript:;" ng-bind="n+1">1</a>
            </li>
            <li ng-class="{disabled: vm.currentPage == vm.pagedItems.length - 1}">
                <a href="javascript:;" ng-click="vm.nextPage()"><i class="fa fa-angle-double-right"></i></a>
            </li>
        </ul>
    </div>
</div>

<div class="recently-accessed">
    <div class="recently-accessed-row" ng-if="vm.viewWatches.length>0">
        <div class="col-md-3 col-sm-6 recently-accessed-row-box" ng-repeat="viewWatch in vm.viewWatches">
            <view-component class="view" permissions="vm.account.permissions" view="viewWatch.view"></view-component>
        </div>
    </div>
    <div class="recently-accessed-row" ng-if="vm.bookmarkWatches.length>0 && vm.isDesktop()==false">
        <div class="col-md-3 col-sm-6 recently-accessed-row-box" ng-repeat="bookmarkWatch in vm.bookmarkWatches track by $index">
            <view-component class="view" permissions="vm.account.permissions" view="bookmarkWatch.view"></view-component>
        </div>
    </div>
</div>