<!doctype html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <!-- <base href="/"> -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>flairbi</title>
    <meta name="description" content="">
    <meta name="google" value="notranslate">
    <meta name="viewport" content="width=device-width">

</head>

<body ng-app="application.bootstrap" class="mini-navbar" ng-strict-di>
    <!--[if lt IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->



    <div id="wrapper" ng-if="$root.noIframe == true">
        <!-- Navigation -->

        <!-- Page wraper -->
        <!-- ng-class with current state name give you the ability to extended customization your view -->
        <div id="page-wrapper" class="page-content ng-class:{'page-wrapper-full-screen':$root.isFullScreen == true}"
            login-style>
            <!-- style added by us -->

            <!-- topnav wrapper -->
            <div ng-if="$root.hideHeader == false" ui-view="topnavbar" ng-cloak></div>

            <!-- content header -->
            <div ui-view="content-header" ng-cloak></div>

            <div ng-show="$root.isFullScreen == false" ui-view="rightnavbar" ng-cloak></div>

            <!-- Main view  -->
            <div class="wrapper wrapper-content">
                <div ui-view="content"></div>
            </div>
            <!-- Footer -->
            <div ng-show="$root.isFullScreen == false" ui-view="footer" ng-cloak></div>

        </div>
        <!-- End page wrapper-->

    </div>
    <!-- End wrapper-->
    <!-- Iframe content -->
    <!-- <div id="flair-iframe" ng-if="$root.noIframe != true">
        <div ui-view="flairintegration" ng-cloak></div>
    </div> -->
    <!-- End of Iframe content -->
    <!-- Data Exploration -->
    <!-- <div id="wrapper" ng-if="$root.noIframe != true && $root.exploration == true;">
        <div ui-view="explorationNav" ng-cloak></div>

        <div id="page-wrapper" class="gray-bg">
            <div ui-view="topnavbar" ng-cloak></div>
            <div class="wrapper wrapper-content">
                <div ui-view="explorer" class="animated fadeInRight" ng-cloak></div>
            </div>
            <div ui-view="footer" ng-cloak></div>

        </div>
    </div> -->
    <!-- End of data Exploration -->
    <!-- Google Analytics: uncomment and change UA-XXXXX-X to be your site's ID.
<script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-XXXXX-X');ga('send','pageview');
</script> -->



</body>

</html>