.common-create-popup{
    .modal-header{
        background-color: $pop_up_header_background;
    }
    .common-edit-icon{
        height: 20px;
        width: 20px;
        display: inline-block;
        float:left;
        margin-bottom: -20px;
    }
    .common-cancle-icon{
        height: 15px;
        width: 15px;
        display: inline-block;
        float:right;
        margin-top: -20px;
    }
    .image-upload-holder{
        margin-top:5px;
        background-color: #f2fbfe;
        border-radius: 8px 8px;
        padding: 8px 8px;
        box-sizing: border-box;
        .image-upload-inner{
                border: 1px dashed #439dd3;
                border-radius: 8px 8px;
                padding: 15px 0;
                text-align: center;
        }
    }
    .image-disc{
        margin-top: 7px;
        font-size: 15px;
    }
    input{
        border-radius: 10px;
    }
    .uploaded-image{
      float:right;
    }
    .form-group{
        .img-label{
            margin-bottom: 0px;
        }
        .row{
            padding-top: 5px;
            margin-left:0px;
            margin-right:0px;
            img{
                max-width:100%
            }
        }

    }
}