.content-header-container{
    .row{
        display: flex;
    }

    .dashboards-header-text{
        display: flex;
        flex-direction: column; 
        justify-content: center;
        @media (min-width: $break-small) {  
            justify-content: flex-start;
        }
    }
    .dashboards-create-button{ 
        display: flex;
        justify-content: center;
        align-items: center;
        @media (min-width: $break-small) {  
            justify-content: flex-end;
        }
    }
    .dashboards-edit-button{
        display: flex;
        align-items: center;
        @media (min-width: $break-small) {  
            justify-content: flex-end;
        }
    }

    .dropdown-menu{
        li{
            a{
                border-radius: 3px;
                color: inherit;
                line-height: 25px;
                margin: 4px;
                text-align: left;
                font-weight: normal;
                font-size: 12px;
            }
        }
    }

    h2{
        margin: 0px;
    }

}

.dashboard-published {
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    background-color: $primary-color;
    padding: 6px 12px;
    position: absolute;
    top: -32px;
    right: 0;
}

.connection-create-popup{
    .modal-header{
        background-color: $pop_up_header_background;
    }
    .dashboard-icon{
        height: 20px;
        width: 20px;
        display: inline-block;
        float:left;
        margin-bottom: -20px;
    }
    .dashboard-cancle-icon{
        height: 15px;
        width: 15px;
        display: inline-block;
        float:right;
        margin-top: -25px;
    }
    input{
        border-radius: 10px;
    }
}