.field-properties {
    .property-header {
        border-bottom: 1px solid #e5e6e7;
        padding: 12px 15px;
        margin-bottom: 15px;
        text-align: center;
        background: whitesmoke;
        padding-left: 0px;
        .property-title{
            font-weight: 700;
        }
    }
    .row {
        margin: .5vw; 
        .entity-states {
            .entity-list {
                padding-left: 0vw;
                li {
                    .entity-type {
                        span.entity-icon {
                            svg {
                                height: 25px;
                                width: 25px;
                            }
                            .flaticon-entity-dimension {
                                fill: $primary-color;
                            }
                            .flaticon-entity-measure {
                                fill: #f8ac59;
                            }
                        }
                        padding: 10px 10px 6px 10px;
                        border-bottom: 1px solid $border-color;
                        &:hover {
                            background-color: $active-background-color;
                        }
                    }
                    &:focus {
                        outline: none;
                        background-color: $active-background-color;
                    }
                }
            }
        }
    }
    .field-property-options {
        padding: 10px;
        .form-group{
            input[type=checkbox]{
                width: 20px;
                height: 20px;
                float: right;
                margin: 0;
            }
            input[type=number]{
                width: 85px;
                float: right;
                margin-top: -7px;
                border-radius: 5px;
            }
            input[type=text],select {
                border-radius: 5px;
            }
            .ui-select-toggle{
                border-radius: 5px;
            }
        }
        div {
            property-component {
                .row {
                    .control-label-color-picker {
                        margin-left: -0.5vw;
                    }
                }
            }
        }
        .flair-checkbox{
            float: right;
            margin-right: 50px;
        }
    }

    .add-chart-property-container{
        border-bottom: 1px solid $border-color;
        display: block;
        width: 100%;
        margin-top: -15px;
        min-height: 60px;
        .property-button{
            padding: 15px;
            text-align: center;
            float: left;
            width: 50%;
            svg{
                fill: $icons-color;
                width: 25px;
                height: 25px;
            }
            &:hover{
                background-color: $active-background-color;
            }
        }
    } 
}

.data-constrains-properties {
    .property-header {
        border-bottom: 1px solid #e5e6e7;
        padding: 12px 15px;
        margin-bottom: 15px;
        text-align: center;
        background: whitesmoke;
        padding-left: 0px;
        .property-title{
            font-weight: 700;
        }
        
    }
    .data-constaraint-conditions-container {
        /**min-height: 200px;**/
        height: 425px;
        overflow-y: auto;
        overflow-x: hidden;
        .query{
            border: 2px dotted $border-color;
            border-radius:25px;
            padding: 10px;
            background: $data-constraint-background;
        }
        .simple-condition{
            .fields{
                display: flex;
                .field{
                    align-self: center;
                }
                .between-label{
                    width: 7%;
                    margin: auto;
                }
                .drop-downs{
                    z-index: 1000;
                    position: absolute;
                }
            }  
        }
        .condition-component-wrapper {
            padding: 1vw;
            margin-bottom: .5vw;
            background: $data-constraint-background;
            border: 2px dotted $border-color;
            border-radius: 25px;
        }
        .data-constraint-operation-button {
            outline: none;
            &.icon {
                i {
                    color: $primary-color;
                    font-size: 16px;
                }
            }
        }
        .featuresName{
            margin-top: 20px;
        }
        .featuresName label{
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}