.ng-pageslide {
    background: #eee;
}

body.ng-pageslide-body-open::before {
    content: '.';
    display: block;
    position: absolute;
    top: 0;
    background-color: rgb(0,0,0);
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0.5;
    transition: opacity 1s;
    opacity: 0.5;
    pointer-events: all;
}

body.ng-pageslide-body-closed::before {
    transition: opacity 1s;
    content: '.';
    display: block;
    position: absolute;
    top: 0;
    background-color: rgb(0,0,0);
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
}

.reports-filters-slider{
    .user-name{
        margin-left: 0.5vw;
        margin-bottom: 5px;
    }
    .report-name{
        height: 34px;
    }
}