.report-management{
	display: flex;
	flex-wrap: wrap;
	.filters{
		.scheduler-date-icon{
			vertical-align: bottom;
		}
		.report-name{
			height: 35px;
		}
		.search-btn{
			margin-top: 30px;
		}
	}
}
.report-actions{
	svg{
		width: 19px;
	    height: 19px;
	    fill : $primary-color;
	}
	.views-icon{
		color:$primary-color;
	}
	.execute-now{
	    width: 16px;
	    height: 16px;
	    vertical-align: -2px;
	}
}