.report-management {
  .filters {
    .report-name {
      height: 35px;
    }
    .search-icon {
      margin-top: 35px;
      width: 25px;
      height: 25px;
      fill: $primary-color;
    }
    .flair-checkbox .checkbox-icon {
      vertical-align: 6px;
    }
  }
}
.report-actions {
  svg {
    width: 19px;
    height: 19px;
    fill: $primary-color;
  }
  .views-icon {
    color: $primary-color;
  }
  .execute-now {
    width: 16px;
    height: 16px;
    vertical-align: -2px;
  }
}

#report-management {
  .blue-line {
    height: 1px;
    width: 0%;
    background: #439dd2;
    position: absolute;
    bottom: 0px;
    left: 0;
    z-index: 10;
    transition: 400ms all ease;
  }
  svg {
    width: 19px;
    height: 19px;
    margin: 5px;
    fill: #676a6c;
  }
  .alerts-tabs {
    display: flex;
    position: relative;
    margin-left: 13px;
    z-index: 0;
    .tab {
      min-width: 0;
      background-color: #fff;
      //box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16);
      width: 50%;
      padding: 5px 15px;
      display: flex;
      position: relative;
      justify-content: space-between;
      align-items: center;
      outline: none;
      border: 1px solid #ededed;
      p {
        font-size: 13px;
        color: #676a6c;
        letter-spacing: 0.5px;
        margin-top: 10px;
      }
     
      .release-icon {
        fill: #439dd3;
      }
      .alarm-icon {
        fill: #ee775e;
      }
    }
    .tab:hover {
      background: #ededed;
    }
    .tab:hover > .blue-line {
      width: 100% !important;
    }
    .tab-active {
      background: #ededed;
    }
    .tab-active > .blue-line {
      width: 100% !important;
    }
  }
  .tab:hover {
    background: #ededed;
  }
  .tab:hover > .blue-line {
    width: 100% !important;
  }
  .tab-active {
    background: #ededed;
  }
  .tab-active > .blue-line {
    width: 100% !important;
  }
  .nav > li > a:hover, .nav > li > a:focus
  {
    outline: none !important
  }
  .configuration{
    .fbibox-content{
      background-color: #ffffff;
      color: inherit;
      padding: 1px;
      margin-top: 20px;
    }
  }
  #configuration-container {
    svg,
    img,
    #email-setting {
      height: 50px;
      width: 50px;
      vertical-align: middle;
      margin-left: 5px;
      font-size: 50px;
    }
  }
}

#report-management .full-width-tabs > ul.nav.nav-tabs {
  display: table;
  width: 100%;
  table-layout: fixed;
}

#report-management .full-width-tabs > ul.nav.nav-tabs > li {
  float: none;
  display: table-cell;
  width: 100%;
}

#report-management .full-width-tabs > ul.nav.nav-tabs > li > a {
  text-align: center;
}

#report-management .full-width-tabs svg#report-tab,
#report-management .full-width-tabs svg#configuration-tab,
#report-management .full-width-tabs svg#Task-tab {
  height: 20px;
  width: 20px;
  vertical-align: middle;
  margin-left: 5px;
  fill: #676a6c;
}
#report-management #Configuration #microsoft-team,
#report-management #Configuration #jira {
  height: 50px;
  width: 50px;
  vertical-align: middle;
  margin-left: 5px;
}
#report-management .full-width-tabs #email-setting {
  font-size: 50px;
  vertical-align: middle;
  margin-left: 5px;
  color: #439dd3;
}


#report-management .tabs-left > li {
  margin-right: -1px;
  outline: none !important;
}

#report-management .tabs-right > li {
  margin-left: -1px;
}

#report-management .tabs-left > li.active > a,
#report-management .tabs-left > li.active > a:hover,
#report-management .tabs-left > li.active > a:focus {
  border-bottom-color: #ddd;
  border-right-color: transparent;
}

#report-management .tabs-right > li.active > a,
#report-management .tabs-right > li.active > a:hover,
#report-management .tabs-right > li.active > a:focus {
  border-bottom: 1px solid #ddd;
  border-left-color: transparent;
}

#report-management .tabs-left > li > a {
  border-radius: 4px 0 0 4px;
  margin-right: 0;
  display: block;
}

#report-management .tabs-right > li > a {
  border-radius: 0 4px 4px 0;
  margin-right: 0;
}

#report-management .vertical-text {
  margin-top: 50px;
  border: none;
  position: relative;
}

#report-management .vertical-text > li {
  height: 20px;
  width: 120px;
  margin-bottom: 100px;
}

#report-management .vertical-text > li > a {
  border-bottom: 1px solid #ddd;
  border-right-color: transparent;
  text-align: center;
  border-radius: 4px 4px 0px 0px;
}

#report-management .vertical-text > li.active > a,
#report-management .vertical-text > li.active > a:hover,
#report-management .vertical-text > li.active > a:focus {
  border-bottom-color: transparent;
  border-right-color: #ddd;
  border-left-color: #ddd;
}

#report-management .vertical-text.tabs-left {
  left: -50px;
}

#report-management .vertical-text.tabs-right {
  right: -50px;
}

#report-management .vertical-text.tabs-right > li {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

#report-management .vertical-text.tabs-left > li {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

#report-management #refreshTicket {
  padding: 6px 0px;
  font-size: 14px;
}

#reportLog {
  img {
    height: 18px;
    width: 18px;
  }

  label.disabled i {
    opacity: 0.5;
  }
  .logInfo {
    max-width: 100px;
  }
  td.text-left,
  th.text-left {
    text-align: left !important;

    li {
      list-style-type: none;
    }
  }
}