.report-management{
	display: flex;
	flex-wrap: wrap;
	.filters{
		.scheduler-date-icon{
			vertical-align: bottom;
		}
		.report-name{
			height: 35px;
		}
		.search-btn{
			margin-top: 30px;
		}
	}
}
