#slider {
    box-shadow: 0 0 3px 0 #a8a8a8;
    background: #fafafa;
    width: 17vw;
    position: fixed;
    right: 0;
    display: none;
    transition-duration: 0.5s;
    transition-property: top, bottom, left, right;
    z-index: 10;
    height: calc(100% - 95px);
    overflow-y: hidden;
    margin-right: 46px;
    margin-top: 58px;
    .row {
        margin: 0;
    }
    .resource-nav {
        .panel-group {
            margin: 0;
        }
        .panel {
            margin: 0;
            border-radius: 0;
            border: none;
            background: transparent;
            box-shadow: none !important;
            .panel-heading {
                background-color: darken($body-main, 2%);
                border-radius: 0;
                padding: 12px 15px;
                color: $text-color;
                text-align: center;
            }
            .panel-body {
                padding: 0;
                .list-group {
                    margin: 0;
                    .inner-addon {
                        position: relative;
                        .glyphicon {
                            position: absolute;
                            padding: 10px;
                            pointer-events: none;
                        }
                    }
                    .left-addon {
                        .glyphicon {
                            left: 0px;
                        }
                        input {
                            padding-left: 30px;
                        }
                    }
                    .search-box {
                        input {
                            width: 97%;
                            margin: 3px;
                            border: none;
                            background-color: $body-main;
                        }
                        .rounded-corner {
                            border-radius: 1rem;
                        }
                    }
                    .visualContainer {
                        padding: 0;
                        margin: 0;
                        display: -webkit-box;
                        display: -moz-box;
                        display: -ms-flexbox;
                        display: -webkit-flex;
                        display: flex;
                        -webkit-flex-flow: row wrap;
                        -moz-flex-flow: row wrap;
                        -ms-flex-flow: row wrap;
                        flex-flow: row wrap;
                        justify-content: space-around;
                        .visual-items {
                            margin-top: 10px;
                            padding: 10px 15px;
                            .visual-sub-items {
                                svg {
                                    height: 35px;
                                    width: 35px;
                                    fill: $icons-color;
                                }
                            }
                        }
                    }
                    .list-group-item {
                        border: none;
                        border-radius: 0;
                        background: none;
                        color: $text-color;
                        border-bottom: 1px solid $border-color;
                        width: 100%;
                        display: inline-flex;
                        flex-flow: row nowrap;
                        i,
                        svg {
                            height: 16px;
                            width: 20px;
                            fill: $icons-color;
                            margin-top: 3px;
                        }
                        span {
                            &.feature-name {
                                overflow: hidden !important;
                                text-overflow: ellipsis;
                                min-width: 84%;
                                max-width: 84%;
                            }
                            &.delete {
                                width: 5%;
                                svg {
                                    height: 10px;
                                }
                            }
                        }
                        &:hover {
                            color: darken($text-color, 20%);
                        }
                    }
                }
            }
        }
    }
    label {
        font-weight: 600;
    }
    #right-nav-footer button{
        margin: 0 10px; 
    }
    .properties{
        max-height:calc(100vh - 200px);
        overflow-y: auto;
    }
}

.right-nav-option-tabs {
    .first-tab {
        .tooltip {
            left: 0px !important;
        }
    }
    a.tab {
        padding: 10px 23.5px;
        .font-size {
            font-size: 1.5em;
        }
        svg,
        i {
            height: 23px;
            width: 23px;
            fill: $icons-color;
            &:hover {
                fill: darken($icons-color, 10%);
            }
        }
        &.selected {
            background-color: $active-background-color;
        }
    }
    li {
        width: 33.3%;
        margin-bottom: 0;
        a {
            border: none;
            border-radius: 0;
            margin-right: 0;
        }
        &.active {
            a {
                border: none;
                &:hover {
                    border: none;
                    background-color: $active-background-color;
                }
            }
        }
    }
    .property-tab {
        width: 50%;
    }
}

.resource-tabs {
    position: fixed;
    right: 0;
    width: 46px;
    background-color: $resources-tab;
    border-left: 1px solid $border-color;
    z-index: 10;
    height: 100%;
    margin-top: 58px;
    button {
        background: none;
        border: 0;
        border-radius: 0;
        padding: 12px 10px;
        margin-bottom: 5px;
        outline: 0;
        svg,
        i {
            height: 23px;
            width: 23px;
            fill: $icons-color;
            &:hover {
                fill: darken($icons-color, 10%);
            }
        }
        .font-size {
            font-size: 1.5em;
        }
        &.selected {
            background-color: $active-background-color;
        }
    }
    .optiondisabled {
        i,
        svg {
            fill: lighten($icons-color, 40%);
            opacity: 0.4;
            cursor: not-allowed;
            &:hover {
                cursor: default;
                background-color: transparent;
                fill: lighten($icons-color, 40%);
            }
        }
    }
}

property-component {
    .form-inline {
        padding: 5px;
    }
    .control-label-color-picker {
        padding-left: 5px;
    }
}