.reset-password-container{
    background: white;
    padding: 40px 50px;

    .password-reset-logo{
        img{
            width: 180px;
            margin-right: 40px;
        }
    }

    .password-reset-title{
        font-weight: 400;
    }

    .recommend-text{
        margin-top: 20px;
    }
}