.scheduler-modal-body{

	.cron-gen-container {
	    .row {
	        margin-right: -8px;
	        margin-left: -8px;
	    }
	}

	.scheduler-tags>tags-input .host {
	    margin-top: 0px;
	}

	.scheduler-tags{
	    .tooltip-position{
			position: absolute;
		    top: 23px;
		    right: -20px;
		    .more-icon{
			    width: 24px;
			    height: 24px;
			    fill: $primary-color;
		    }
	    }
	}

	.cron-wrap{
		.clearfix{
			.form-group{
				margin: 5px;
				display:flex;
				label{
				    margin: 5px;
				}
			}
		}
	}

	.threshold-alert-condition{
		.condition-val{
			margin-top:5px;
		}
	}

	.threshold-alert-label{
		vertical-align: middle;
	}

	.center{
		text-align: center;
	}
	fieldset{
		min-width:0;
		padding: .35em .625em .75em;
		margin: 0 2px;
		border: 1px solid #c0c0c0;
	}
	legend{
		display: block;
		padding: 0;
		font-size: 20px;
		line-height: inherit;
		border: 0;	
	}
	label.disabled i {
		opacity: 0.5;
	}

}
.scheduler-footer{
	.cancel-job-icon{
		color:#ED5565;
	}
	.execute-now-icon{
		width: 16px;
	    height: 16px;
	    vertical-align: -3px;
	    fill: #FFF;
	}	
}
