.scheduler-modal-body{

	.cron-gen-container {
	    .row {
	        margin-right: -8px;
	        margin-left: -8px;
	    }
	}

	.scheduler-tags>tags-input .host {
	    margin-top: 0px;
	}

	.cron-wrap{
		.clearfix{
			.form-group{
				display:flex;
				label{
				    margin: 5px;
				}
			}
		}
	}

	.scheduler-date-icon{
		vertical-align: bottom;
	}

	.threshold-alert-condition{
		.condition-val{
			margin-top:5px;
		}
	}

	.threshold-alert-label{
		vertical-align: middle;
	}

	.center{
		text-align: center;
	}

}

.cancel-job-icon{
	color:#ED5565;
}
