#shareLink{
    .selected{
        background: none;
        border: 0;
        border-radius: 0;
        padding: 12px 8px;
        margin-bottom: 5px;
        outline: 0;
        top: 0px;
        position: absolute;
        right: 0;
    }
    .filter{
        height: 20px;
        width: 20px;
        fill: #404345;
    }
    #slider{
        margin-right: 0px !important; 
        margin-top: 25px !important;
        min-width: 250px !important;
        top: 25px;
    }
}