.user-information-container{
    .properties-container{
        .property-information-table{
            td{
                padding: 8px;
            }
        }
    }
    .dataconstraint-container{
        .fbibox{
            .fbibox-title{
                h2{
                    display: inline;
                }
            }
        }
    }
}

.constraint-field{

    display: flex;
    justify-content: center;
    align-items: center;

    .user-data-constraint-operation-button{
        outline: none;
      
        &.icon{
          i{ 
            color: $primary-color;
            font-size: 16px;
          }
          
        }
    }
}

.user-management-table{
    .datasource-constraints-icon{
        width: 16px;
        height: 20px;
    }
    .click-here-dc-icon{
        color: $primary-color;
        font-size: 1.5em;
    }
}
