.views-header{
    
     background-color: $content-header-color;
     padding: 15px 10px;
     margin-right: -15px;
     margin-left: -15px;
 
     .views-header-text{
         display: flex;
         justify-content: center;
         padding-bottom: 15px;
         @media (min-width: $break-small) {  
             justify-content: flex-start;
         }
     }
     
     .views-edit-button{
         display: flex;
         justify-content: center;
         @media (min-width: $break-small) {  
             justify-content: flex-end;
         }
     }
 
     h2{
         margin: 0px;
     }
     .views-header-text{
         padding: 0 0 0 20px;
     }
 
 }

.view-published {
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    background-color: $primary-color;
    padding: 6px 12px;
    position: absolute;
    top: -32px;
    right: 0;
}