<div class="inmodal in modal-content share-link-modal">
    <form name="editForm" role="form" novalidate ng-submit="vm.save()">
        <div class="modal-header">
            <div class="header-text">
                Share
              </div>
              <button aria-hidden="true" class="close" data-dismiss="modal" ng-click="vm.clear()" type="button">&times;</button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <input type="text" id="share-link" class="form-control" value={{vm.shareLink}} readonly>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-default" ng-click="vm.copyUrl()">
                <svg class="copy-clipboard clone">
                    <use xlink:href="#clone" />
                </svg>&nbsp;
                <span data-translate="entity.action.copy">Copy</span>
            </button>
        </div>
    </form>
</div>
