<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>
    <div class="modal-header">
        <div class="header-text">
            <span class="modal-title" id="myFeatureCriteriaLabel" data-translate="flairbiApp.featureCriteria.home.createOrEditLabel">Create or edit a Feature Criteria</span>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.featureCriteria.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id" ng-model="vm.featureCriteria.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="flairbiApp.featureCriteria.value" for="field_value">Value</label>
            <input type="text" class="form-control" name="value" id="field_value" ng-model="vm.featureCriteria.value" required/>
            <div ng-show="editForm.value.$invalid">
                <p class="help-block" ng-show="editForm.value.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label data-translate="flairbiApp.featureCriteria.feature" for="field_feature">Feature</label>
            <select class="form-control" id="field_feature" name="feature" ng-model="vm.featureCriteria.feature" ng-options="feature as feature.name for feature in vm.features track by feature.id"
                required>
            </select>
        </div>
        <div ng-show="editForm.feature.$invalid">
            <p class="help-block" ng-show="editForm.feature.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label data-translate="flairbiApp.featureCriteria.featureBookmark" for="field_featureBookmark">Feature Bookmark</label>
            <select class="form-control" id="field_featureBookmark" name="featureBookmark" ng-model="vm.featureCriteria.featureBookmark"
                ng-options="featureBookmark as featureBookmark.name for featureBookmark in vm.featurebookmarks track by featureBookmark.id"
                required>
            </select>
        </div>
        <div ng-show="editForm.featureBookmark.$invalid">
            <p class="help-block" ng-show="editForm.featureBookmark.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;
            <span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;
            <span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>